@import "./modules/_mixins";
@import "./modules/_colors";

.arbitration .page__wrapper{
  background-image: url("../img/background-img-three-pages.svg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-width: 1446px){
    background-image: url("../img/background-img-three-pages1920.svg");
  }

  @media (min-width: 1600px){
    background-size: 100%;
  }
}

.arbitration{
  &__inner{
    display: flex;
    position: relative;
    padding-top: 24px;
    & .cascade__content {
      p {
        max-width: 341px;
      }
      & .right-block{
        padding-top: 70px;
      }
    }
  }
}