@import "./modules/_mixins";
@import "./modules/_colors";


.blog-item .page__wrapper {
  background: url("../img/background-img-blog-item1920.svg") center 425px no-repeat, url("../img/top-left-bg.svg") top left no-repeat;
  background-size: auto;
  //background-repeat: no-repeat;

  @media (max-width: 1440px) {
    background: url("../img/background-img-blog-item1440.svg") center 290px no-repeat, url("../img/top-left-bg.svg") top left no-repeat;
    //background-position: center 290px;
    background-size: auto;
    //background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    background: url("../img/background-img-blog-item768.svg") center 400px no-repeat;
    background-size: auto;
  }


}


.blog-item{

  .capital__inner{
    padding-bottom: 0;
  }

  .capital .site-title{
    max-width: 768px;

    @include for-550{
      .site-title__large{
        display: flex;
        flex-direction: column;
      }
    }
  }

  .capital .grid-padding{
    padding-top: 60px;

    @include for-992{
      padding-top: 15px;
    }
  }
}

.blog-article{
  &__content{
    padding-left: 106px;

    @include for-1400{
      padding-left: 0;
    }

    *:not(img):not(figure):not(.blog-item-image-bg){
      max-width: 726px;
    }

    figure{
      margin: 0;

      img{
        max-width: 100%;
      }
    }

    figcaption{
      font-size: 12px;
      line-height: 18px;
      color: #000000;
    }

    p{
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-top: 30px;
    }

    b{
      display: block;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
    }

    h2{
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-top: 45px;
      margin-bottom: 32px;
    }

    h3{
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-top: 40px;
    }

    li{
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }

    ol{
      counter-reset: numbered-tiles-counter;
      li{
        position: relative;
        counter-increment: numbered-tiles-counter;
        padding-left: 30px;

        &:before{
          content: "0" counter(numbered-tiles-counter);
          position: absolute;
          left: 0;
          top: -2px;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: $brown;
        }
      }
    }

    ul li{
      position: relative;
      padding-left: 12px;

      &:before{
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $brown;
      }
    }

    blockquote{
      margin: 0;
      font-size: 24px;
      line-height: 37px;
      color: #000000;
      margin-top: 48px;
      margin-bottom: 15px;
      position: relative;

      @include for-1400{
        padding-left: 50px;
      }

      &:before{
        content: "";
        display: block;
        width: 49px;
        height: 40px;
        background: url("../img/ico/quote.svg") center center no-repeat;
        position: absolute;
        top: 8px;
        left: -100px;


        @include for-1400{
          left: 0;
          width: 28px;
          height: 23px;
          background-size: contain;
        }
      }

      & ~ figcaption{
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        position: relative;
        left: 45%;

        @include for-1400{
          left: 50px;
        }
      }
    }

  }

  &__share{
    display: flex;
    align-items: center;
    padding-left: 106px;

    @include for-1400{
      padding-left: 0;
    }
  }

  &__share-name{
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    margin-right: 12px;
  }

  &__share-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8f7a614d;
    margin-right: 8px;
  }

  &__useful{
    margin-top: 40px;
    padding-left: 106px;

    @include for-1400{
      padding-left: 0;
    }
  }

  &__useful-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;

    @include for-550{
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__useful-btns{
    display: flex;
  }

  &__useful-btn{
    background: #CD9E64;
    border-radius: 43px;
    color: #ffffff;
    padding: 14px 32px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;

    &:last-child{
      margin-right: 0;
    }

    @include for-550{
      padding: 10px 24px;
    }

    @include for-350{
      padding: 10px 15px;
    }
  }

}

.other-article-title{
  padding-top: 96px;

  @include from-992{
    padding-top: 64px;
  }

  .site-title__designation{
    @include from-992{
      display: none;

      & + .site-title__large{
        margin-top: 0;
      }
    }
  }
}

.other-article {
  padding-bottom: 64px;

  &__items{
    padding-left: 106px;
    margin: 0 -8px;

    @include for-1400{
      padding-left: 0;
    }

    @include for-550{
      margin: 0;
    }
  }

  .blog-list__item-content{
    box-shadow: 0px 4px 15px #e2d8cb;
  }

  .blog-list__item{
    padding: 0 8px;

    @include for-420{
      max-width: 254px;
    }

    @include for-350{
      max-width: 100%;
    }

  }


}

@include for-550 {

  .slick-list{padding:0 25vw 0 0;}

  .slick-slider .slick-slide.slick-active > div {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@include for-350{
  .slick-list{padding:0;}
}


.article-not-useful-popup{

  .other-reason-input{
    min-width: 306px;
    margin-left: 27px;

    &.inactive{
      background: #F8F4EE;
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .site-btn{
    margin-top: 32px;
  }

}

.blog-item-box{
  position: relative;
  width: 100%;

  @include for-992{
    display: none;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 170px;
    height: 168px;
    background: url("../img/blog-item-box.svg") center center no-repeat;
  }
}

.blog-item-telega{
  position: relative;
  width: 100%;
  
  @include for-992{
    display: none;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 142px;
    height: 205px;
    background: url("../img/blog-item-telega.svg") center center no-repeat;
  }
}
