@import "./modules/_mixins";
@import "./modules/_colors";


.blog-item{
  .capital .site-title{
    max-width: 768px;
  }

  .grid-padding{
    padding-top: 60px;
  }
}

.blog-article{
  &__content{
    *:not(img):not(figure){
      max-width: 726px;
    }

    figure{
      margin: 0;
    }

    figcaption{
      font-size: 12px;
      line-height: 18px;
      color: #000000;
    }

    p{
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-top: 30px;
    }

    b{
      display: block;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
    }

    h2{
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-top: 45px;
      margin-bottom: 32px;
    }

    h3{
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-top: 40px;
    }

    li{
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }

    ol{
      counter-reset: numbered-tiles-counter;
      li{
        position: relative;
        counter-increment: numbered-tiles-counter;
        padding-left: 30px;

        &:before{
          content: "0" counter(numbered-tiles-counter);
          position: absolute;
          left: 0;
          top: -2px;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: $brown;
        }
      }
    }

    ul li{
      position: relative;
      padding-left: 12px;

      &:before{
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $brown;
      }
    }

    blockquote{
      margin: 0;
      font-size: 24px;
      line-height: 37px;
      color: #000000;
      margin-top: 48px;
      margin-bottom: 15px;
      position: relative;

      &:before{
        content: "";
        display: block;
        width: 49px;
        height: 40px;
        background: url("../img/ico/quote.svg") center center no-repeat;
        position: absolute;
        top: 8px;
        left: -100px;
      }

      & ~ figcaption{
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        position: relative;
        left: 45%;
      }
    }

  }

  &__share{
    display: flex;
    align-items: center;
  }

  &__share-name{
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    margin-right: 12px;
  }

  &__share-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8f7a614d;
    margin-right: 8px;
  }

  &__useful{
    margin-top: 40px;
  }

  &__useful-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
  }

  &__useful-btns{
    display: flex;
  }

  &__useful-btn{
    background: #CD9E64;
    border-radius: 43px;
    color: #ffffff;
    padding: 14px 32px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

}
