@import "./modules/_mixins";
@import "./modules/_colors";

.blog{
  .site-pagination__inner,
  .blog-list__inner,
  .search-line__inner{
    padding-left: 100px;

    @include for-1400{
      padding-left: 15px;
    }
  }

  .footer__wrap.grid-padding{
    padding-left: 0;
  }

  @include for-550{
    .site-title__large{
      span{
        display: block;
      }
    }
  }
}

.search-line{
  margin-bottom: 48px;

  @include for-550{
    margin-bottom: 32px;
  }

  &__inner{
    form{
      display: flex;
    }
  }

  &__input{
    height: 48px;
    border: 1px solid #8f7a614d;
    box-sizing: border-box;
    border-radius: 60px;
    background: transparent;
    width: 100%;

    &::placeholder{
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      padding: 0 24px;
    }
  }

  &__btn{
    background: $accent;
    border-radius: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -142px;

    @include for-550{
      width: 48px;
      height: 48px;
      font-size: 0;
      margin-left: -48px;

      background: $accent url("../img/magnifying.svg") center center no-repeat;
    }
  }

}

.blog-list{

  &__inner{

  }

  &__items{
    display: flex;
    margin: 0 -16px;
    flex-wrap: wrap;
  }

  &__item{
    display: flex;
    padding: 0 16px;
    width: 25%;
    margin-bottom: 16px;

    @include for-1200{
      width: 33%;
    }

    @include for-992{
      width: 50%;
    }

    @include for-550{
      width: 100%;
    }
  }

  &__item-content{
    background: $white;
    box-shadow: 0px 4px 30px #E2D8CB;
    border-radius: 14px;
    overflow: hidden;
  }

  &__item-text{
    padding: 16px 24px 24px;
  }

  &__image{
    img{
      width: 100%;
    }
  }

  &__date{
    margin-bottom: 12px;
    font-size: 11px;
    line-height: 16px;
    color: $brown;
  }

  &__title{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $grey;
    display: block;
  }

  &__desc{
    color: $grey;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 12px 0px;
  }

}

.site-pagination{
  padding-top: 64px;

  @include for-992{
    padding-top: 24px;
    padding-bottom: 63px;
  }

  &__inner{

  }

  &__items{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 50%;
    border: 1px solid #8f7a614d;
    box-sizing: border-box;
    margin-right: 12px;
    color: $brown;

    &.inactive{
      color: #000000;
      opacity: 0.4;
    }

    &.first{
      width: auto;
      height: auto;
      margin-right: 40px;
      font-size: 16px;
      line-height: 23px;
      border: 0;
      color: $grey;

      @include for-550{
        width: 28px;
        height: 28px;
        font-size: 0;
        border-radius: 50%;
        border: 1px solid #8f7a614d;
        box-sizing: border-box;
        margin-right: 20px;
        background: url("../img/right-arrow-p.svg") center center no-repeat;
        transform: rotate(-180deg);
      }
    }

    &.last{
      width: auto;
      height: auto;
      margin-left: 40px;
      margin-right: 0;
      font-size: 16px;
      line-height: 23px;
      border: 0;
      color: $grey;

      @include for-550{
        width: 28px;
        height: 28px;
        font-size: 0;
        border-radius: 50%;
        border: 1px solid #8f7a614d;
        box-sizing: border-box;
        margin-left: 20px;
        background: url("../img/right-arrow-p.svg") center center no-repeat;
      }
    }

    &.dots{
      font-size: 20px;
      transform: translateY(-2px);
      border: 0;
    }

    &.active{
      background: #8F7A61;
      color: #ffffff;
    }

    &.black{
      color: $grey;
      margin-right: 0;
    }

  }

}
