@import "./modules/_mixins";
@import "./modules/_colors";
.contacts .page__wrapper{
  background-image: url("../img/background-img-homepage--top.svg");
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-homepage--top1920(1).svg");
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: 100%;
  }

  @include for-1100{
    background-image: url("../img/background-img-rhombus1100.svg");
    background-size: auto;
    background-position: center 2%;
  }

  @include for-992{
    background-size: cover;
  }
}

.capital {
  &__content,
  &__media {
    margin: 0 19px;
  }

  &__content {
    margin-left: 0;
  }

  &__media {
    margin-right: 0;
  }

  .address__media {
    @include for-680 {
      display: none;
    }
  }

  &__contact-phone {
    padding-bottom: 8px;

    & a {
      color: $brown;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__contact-email {
    padding-bottom: 16px;

    & a {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
    }
  }

  &__contact-socaial {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .socail-item {
      margin: 0 6px;
    }

    .socail-item:nth-child(1) {
      margin-left: 0;
    }

    .socail-item:nth-child(3) {
      margin-right: 0;
    }
  }

  &__media-img{
    @include from-1400{
      margin-bottom: -16px;
    }
  }
}

.address {

  &.site-container {
    @include for-680{
      margin-bottom: 68px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 440px;
    margin-bottom: 40px;
    border-radius: 60px;
    border: 1px solid rgba(143, 122, 97, 0.3);
  }

  &__tab {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 40px;
    width: 100%;
    text-align: center;
    border-radius: 60px;
    background-color: transparent;

    @include from-680 {
      transition: all .3s;
    }

    &.__active {
      a {
        color: #fff;
      }

      background-color: $accent;
    }

    &:hover {
      cursor: pointer;
    }

    @include for-680 {
      padding: 14px 20px;
    }
    @include for-350 {
      padding: 14px 15px;
    }
  }

  &__tabs-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include for-1100 {
      justify-content: center;
    }
    @include for-680 {
      display: block;
    }
  }

  &__tab-item {
    display: flex;
    margin: 0 16px;
    width: 100%;
    height: 100%;
    //max-width: 515px;
    max-width: calc(50% - 16px);
    //max-height: 260px;
    background-color: $white;
    box-shadow: 0px 4px 30px #E2D8CB;
    border-radius: 14px;
    overflow: hidden;
    height: auto;

    @include for-1100{
      margin: 0 0 32px 0;
      width: 100%;
      max-width: 100% ;
    }

    @include from-680{
      margin-bottom: 32px;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &--img {
      //flex: 1 1 50%;
      display: flex;
      max-width: 261px;
      width: 100%;
      //height: 100%;

      picture{
        height: 100%;
        display: flex;
      }

      img{
        height: 100%;
        object-fit: cover;
      }

      @include for-1100{
        max-width: 261px;
        width: 100%;
        flex: auto;
      }

      @include for-680 {
        max-width: 100%;
        //height: 272px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        @include for-680 {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &--description {
      //flex: 1 1 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      height: 100%;
      padding: 23px;
      & * {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: $grey;
      }

      &-title {
        h2 {
          padding-bottom: 8px;
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;
        }
      }

      &-address {
        p {
          padding-bottom: 12px;
          line-height: 22px;
        }
      }

      &-worktime {
        padding-bottom: 12px;

        p {
          line-height: 22px;
        }

        & :nth-child(1) {
          font-weight: 700;
          padding-bottom: 5px;
        }
      }

      &-phone {
        //padding-bottom: 16px;

        a span {
          padding-bottom: 12px;
          font-weight: 700;
          line-height: 22px;
        }
      }

      &-map {
        padding-top: 16px;
        a span {
          color: $brown;
          font-weight: 700;
          text-decoration: underline;
        }
      }

      @include for-680 {
        padding: 20px;
      }

    }

    @include for-1100 {
      margin-left: 0;
      margin-right: 0;
    }
    @include for-680 {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      max-width: unset;
      max-height: unset;
    }
  }

  &__content{
    margin-bottom: -8px;
  }
}

.contacts .slick-slider {

  .slick-list {
    overflow: initial!important;
    padding-right: 72px;
    //height: 533px; //???????????????????
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    margin: 0 20px;
    padding: 0;
    margin-left: 0;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
  }
}
