@import "./modules/_mixins";
@import "./modules/_colors";

.fba-prep-center .page__wrapper{
  background-image: url("../img/background-img-homepage--top.svg");
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-homepage--top1920(1).svg");
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: 100%;
  }

  @include for-992{
    background-size: cover;
  }
}
