@import "./modules/_mixins";
@import "./modules/_colors";


.fbm-fulfillment .page__wrapper{
  background-image: url("../img/background-img-fbm-fulfilment.svg?123");
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-fbm-fulfilment1920.svg?123");
    background-position: center top;
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: auto;
  }

  @media (min-width: 1920px){
    background-size: 100%;
  }

  @include for-1100{
    background-image: url("../img/background-img-fbm-fulfilment1100.svg?123");
    background-size: auto;
    background-position: center 2%;
  }
}


//.fbm-fulfillment .numbered-tiles__inner{
//  padding-bottom: 24px!important;
//
//  @include for-680{
//    padding-bottom: 50px!important;
//  }
//}