@import "_import";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

div{
  font-weight: normal;
}

/* Remove outline on the forms and links */
input, textarea {
  outline: 0;
  outline-offset: 0;
  -webkit-appearance: none;

  &:active, &:hover, &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.main-wrap{
  overflow: hidden;
  position: relative;
}

/*rhombus bg*/

.rhombus .page__wrapper{
  background-image: url("../img/background-img-rhombus.svg");
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-rhombus1920.svg");
    background-position: center top;
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: auto;
  }

  @media (min-width: 1920px){
    background-size: 100%;
  }

  @include for-1100{
    background-image: url("../img/background-img-rhombus1100.svg");
    background-size: auto;
    background-position: center 2%;
  }
}



/*SITE STYLE*/
.contacts{

  &__item{
    display: flex;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
  }

  &__ico{
    margin-right: 4px;
  }
}


.header{
  background: $white;
  box-shadow: 0px 4px 24px rgba(182, 182, 182, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;


  &__inner{
    display: flex;
    flex-direction: column;
  }

  &__top{
    height: 35px;
    display: flex;
    width: 100%;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: $brown;
      opacity: .2;
    }
  }

  &__top-column{
    width: 25%;
    align-items: center;
    display: flex;

    &--contacts{
      width: 50%;
      justify-content: center;
    }
  }

  &__schedule{

  }

  &__schedule-txt{
    font-size: 12px;
    line-height: 14px;
    color: $grey;
  }

  &__contacts{
    display: flex;
    margin: 0 -12px;
    justify-content: center;

    > a{
      padding: 0 12px;
    }
  }

  &__management{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__lang{
    display: flex;
    position: relative;
  }

  &__lang-i{
    font-size: 12px;
    line-height: 14px;
    color: $grey;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &__lang-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding-bottom: 3px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: .1s ease-in-out;
  }

  &__lang:hover &__lang-arrow{
    transform: rotate(-180deg) translateY(3px);
  }

  &__lang-list{
    display: flex;
    position: absolute;
    transition: .2s ease-in-out;
    flex-direction: column;
    left: 0;
    top: calc(100% + 1px);
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    padding-top: 2px;

    &:before{
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 16px);
      height: calc(100% + 40px);
      background: $white;
      box-shadow: 0px 4px 24px rgba(182, 182, 182, 0.25);
    }

    > a{
      margin-bottom: 4px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__lang:hover &__lang-list{
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }


  &__email{
    display: flex;
  }

  &__email-i{
    font-size: 12px;
    line-height: 14px;
  }

  &__login{
    display: flex;
  }

  &__login-i{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: $grey;
  }

  &__center-line{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-1100{
      justify-content: initial;
      height: 57px;
    }
  }

  &__logo{
    width: 200px;

    @include for-1100{
      width: 128px;
    }
  }

  &__logo-i{

    svg {
      @include for-1100 {
        width: 100%;
      }
    }
  }

  &__nav{
    display: flex;
  }

  &__calculator{
    width: 200px;
    display: flex;
    justify-content: flex-end;

    @include for-1100{
      margin-left: auto;
    }
  }

  &__calculator-btn{
    padding-left: 16px;
    padding-right: 16px;

    span{
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__burger{
    margin-right: 14px;
  }

  &__burger-i{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    svg:nth-child(2){
      display: none;
    }

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
  }

  &.menu-open &__burger-i {

    svg:nth-child(1) {
      display: none;
    }

    svg:nth-child(2) {
      display: block;
    }
  }

}


.header-nav{

  &__list{
    display: flex;
    margin: 0 -12px;
  }

  &__item{
    position: relative;
    padding: 8px 12px;
    display: flex;
  }

  &__link{
    font-size: 14px;
    line-height: 16px;
  }

  &__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    padding-bottom: 2px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: .2s ease-in-out;
  }

  &__item:hover &__arrow{
    transform: rotate(-180deg) translateY(2px);
  }

  &__dropdown{
    position: absolute;
    top: 100%;
    left: 12px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background: $white;
    box-shadow: 0px 4px 24px rgba(182, 182, 182, 0.25);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .2s ease-in-out;
  }

  &__item:hover &__dropdown{
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  &__dropdown-i{
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

}


.mobile-menu{
  width: 100%;
  position: fixed;
  left: 0;
  top: 57px;
  background: $white;
  z-index: 10;
  height: calc(100% - 57px);
  display: none;

  &__inner{
    padding: 16px 15px;
    overflow: auto;
    height: 100%;
    position: relative;
  }

  &__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__item{
    display: flex;
    flex-direction: column;
  }

  &__link{
    font-size: 32px;
    line-height: 37px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__sublist{
    display: flex;
    flex-direction: column;
  }

  &__sublink{
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__management{

  }

  &__login{
    margin-bottom: 24px;
  }

  &__login-i{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: $brown;
  }

  &__schedule{
    margin-bottom: 16px;
  }

  &__schedule-txt{
    font-size: 12px;
    line-height: 14px;
  }

  &__contact{
    margin-bottom: 6px;

    > a{
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 10px;
    }
  }

  &__email{
    margin-bottom: 32px;
  }

  &__email-i{
    font-size: 12px;
    line-height: 14px;
  }

  &__lang{

  }

  &__lang-i{
    font-size: 14px;
    line-height: 16px;
    color: $grey;
    margin-right: 16px;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }

    &.active{
      font-weight: bold;
    }
  }

}


.breadcrumbs{

  @include for-680{
    display: none;
  }

  &__inner{
    position: relative;
  }

  &__list{
    position: absolute;
    left: 0;
    top: 14px;
    display: flex;
    padding: 0 15px;
    z-index: 2;
  }

  &__item{
    margin-right: 7px;
    padding-right: 7px;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% + 1px);
      transform: translateY(-50%);
      width: 1px;
      height: 8px;
      background: $grey;
      opacity: .3;
    }

    &:last-child{
      &:after{
        display: none;
      }
    }

    span{
      opacity: .5;
    }
  }

  &__link{
    font-size: 11px;
    line-height: 12px;
    color: #000000;

    @include from-1600{
      font-size: 13px;
      line-height: 15px;
    }

    a{

    }

  }

}


.footer {
  padding-top: 48px;

  @include for-1100{
    padding-top: 30px;
  }

  @include for-680{
    padding: 0;
  }

  &__inner{
    display: flex;
    flex-direction: column;
  }

  &__center{
    display: flex;
    padding-top: 40px;
    position: relative;

    @include for-680{
      padding-top: 10px;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $brown;
      opacity: .3;

      @include for-680{
        display: none;
      }
    }
  }

  &__row{
    display: flex;
    margin: 0 -12px;
    width: 100%;
    flex-wrap: wrap;
      }

  &__column{
    padding: 0 12px;
    width: 33.33333%;

    @include for-800{
      margin-bottom: 15px;
      width: 50%;

      &:first-child{
        width: 100%;
      }
    }
  }

  &__logo{
    margin-bottom: 30px;
  }

  &__logo-i{

  }

  &__contact{
    padding-left: 57px;
    margin-bottom: 24px;

    @include for-800{
      padding-left: 0;
    }

    > a{
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 12px;

      &:last-child{
        margin-bottom: 0;
      }

    }
  }

  &__email{
    padding-left: 57px;

    @include for-800{
      padding-left: 0;
    }
  }

  &__email-i{
    font-size: 14px;
    line-height: 16px;
  }

  &__column{
    display: flex;
    flex-direction: column;
  }

  &__title{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
    font-weight: bold;
  }

  &__list{
    column-count: 2;

    @include for-1100{
      column-count: 1;
    }
  }

  &__item{
    margin-bottom: 8px;
  }

  &__link{
    font-size: 14px;
    line-height: 20px;
  }

  &__bottom{
    padding-top: 45px;
    padding-bottom: 15px;

    @include for-1100{
      padding-top: 15px;
    }

    @include for-800{
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $brown;
        opacity: .3;
      }
    }
  }

  &__bottom-inner{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    @include for-800{
      justify-content: space-between;
    }
  }

  &__bottom-link{
    margin: 0 15px;
    font-size: 14px;
    line-height: 20px;
    opacity: .4;

    @include for-800{
      margin: 0;
    }

    &:hover{
      opacity: 1;
    }
  }


  &__bottom-made-by{
    display: flex;
    margin-top: -20px;

    @include for-1100{
      margin-top: 10px;
    }

    > a{
      opacity: 1;
      position: relative;
      z-index: 1;
    }
  }

}


.capital{

  &__inner{
    display: flex;
    position: relative;
    padding-top: 24px;

    @include for-680{
      flex-wrap: wrap;
    }
  }

  &__floating-img{
    right: 0;
    top: 0;
    width: 81px;
    height: 81px;
    transform: translateY(115px);
  }

  &__content{
    width: 50%;
    padding-top: 30px;

    @include for-1100{
      width: 100%;
    }

    @include for-680{
      padding-top: 0;
    }

    &--top-block{
      @include from-1100 {
        padding-top: 96px;
      }
    }

    //&--top-block-another{
    //  @include from-1100 {
    //    padding-top: 55px;
    //  }
    //
    //  @include for-680{
    //    padding-top: 12px;
    //  }
    //}
  }

  &__title{

  }

  &__manage{
    margin-top: 20px;
    display: flex;
    align-items: center;

    @media(max-width: 370px){
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  &__manage-item{

    @media(max-width: 370px){
      padding-left: 5px!important;
      padding-right: 5px!important;
    }

    .site-link{
      padding: 11px 0;
      display: flex;
    }
  }

  &__media{
    width: fit-content;

    @include for-1100{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include for-680{
      overflow: hidden;
      position: relative;
    }
  }

  &__media:not(.rhombus){

  }

  &__media.rhombus{

    @include for-680{
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
      height: 561px;
      position: relative;
      margin-bottom: -40px;
    }

    @include for-350{
      height: 400px;
    }
  }

  &__media-img{
    width: 100%;
  }

  &__media:not(.rhombus) &__media-img{

    @include for-1100{
      max-width: 350px;
    }

    @include for-680{
      max-width: calc(100% + 30px);
      width: calc(100% + 30px);
      margin: 0 -15px;


      display: flex;
      justify-content: center;

      svg{
        transform: scale(1.3) translateX(20px);
        width: 100%;
      }

    }

    @include for-992{
      svg{
        width: 100%;
      }
    }

    img{
      width: 100%;

      @include for-1100{
        height: auto;
      }
    }

  }

  &__media.rhombus &__media-img{
    @include from-1100 {
      margin-bottom: 4px;
      transform: translateX(93px);
      margin-top: -108px;

      img{
        width: 680px;
        height: 100%;
        object-fit: contain;
      }
    }

    @include for-1100 {
      margin-top: -80px;
      width: 100%;
      max-width: 440px;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @include for-680 {
      margin-top: 0;

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 561px;
        height: 100%;
      }
    }
  }



  /*modify*/
  &.consolidations &__content{
    width: 100%;
    max-width: 655px;
  }

  &.consolidations &__media{
    margin-right: -55px;
    width: 100%;

    @include for-1400{
      svg{
        width: 100%;
      }
    }

    @include for-1100{
      .capital__media-img{
        max-width: 100%;
      }
    }

    @include for-680{
      svg{
        transform: scale(1.3) translateX(-10px);
      }
    }
  }

  /**************************/

  &--fbm-fulfilment .site-container--section{
    @include for-680 {
      padding-top: 41px;
    }
  }

  &--fbm-fulfilment &__media-img{
    @include from-1200{
      transform: translateX(18px) translateY(26px) !important;
      margin-bottom: -80px!important;
    }

    @include for-680{
      transform: translateY(20px);
    }
  }

  &--fbm-fulfilment &__content p {
    @include from-1200{
      width: calc(100% + 15px);
    }
  }

  &--fbm-fulfilment &__media {
    @include for-680{
      height: 480px;
      margin-bottom: 0;
    }
  }


  /**************************/
  &.consol-page &__content{
    p{
      @include from-1100{
        width: calc(100% + 45px);
      }
    }
  }

  &.consol-page &__media{
    @include for-680{
      height: 504px;
      margin-bottom: -11px;
    }
  }
  &.consol-page &__media-img{
    @include for-680{
      transform: translate(15px, 26px);
    }
  }


  /**************************/

}


.numbered-tiles{
  position: relative;

  &__inner{
    @media (max-width: 1446px){
      position: relative;
    }

  }

  &__floating-img{
    top: 93px;
    right: 28vw;

    @media (max-width: 1900px){
      right: 50vw;
      transform: translateX(380px);
    }

    @media (max-width: 1610px){
      right: 50vw;
      transform: translateX(423px);
    }


    @media (max-width: 1446px){
      right: 175px;
      transform: translateX(0);
    }

  }

  &__gift{
    position: relative;
  }

  &__gift-img{
    position: absolute;
    right: 33px;
    top: -35px;
  }

  &__content{

  }

  &__title{

  }

  &__list{
    margin-top: 40px;
    counter-reset: numbered-tiles-counter;

    &--nonumbers{
      .numbered-tiles__item:before{
        display: none;
      }

      .numbered-tiles__item-name{
        font-size: 24px;
        line-height: 34px;
        padding-right: 0;
      }

      .site-case {
        padding: 32px;

        @include for-992{
          padding: 32px 24px;
        }
      }
    }
  }

  &__item{
    width: 33.33333%;
    counter-increment: numbered-tiles-counter;
    position: relative;
    display: flex;
    margin-bottom: 24px;

    @include for-992{
      width: 50%;
    }

    @include for-680{
      width: 100%;
      margin-bottom: 12px;
    }


    &:before{
      content: "0" counter(numbered-tiles-counter);
      position: absolute;
      right: 24px;
      top: 12px;
      font-weight: bold;
      font-size: 32px;
      line-height: 45px;
      opacity: 0.3;
      color: transparent;
      -webkit-text-stroke: 1px $brown;
    }
  }

  &__item-content{
    height: 221px;


    @include for-992{
      height:  197px;
    }
  }

  &__item-name{
    padding-right: 30px;
  }

}


.our-system{

  &__inner{
    display: flex;
    flex-direction: column;
  }

  &__content{

  }

  &__title{

  }

  &__media{
    @include for-1100 {
      padding-left: 0;
    }

  }

  &__media-img{
    @include for-550{
      width: calc(100% + 20px);
      margin: 0 -10px;
    }

    img{
      width: 100%;

      @include from-1100{
        position: relative;
        width: calc(100% + 50px);
        transform: translateX(-20px);
      }
    }
  }
}


.reviews{
  overflow: hidden;
  position: relative;

  &__inner{
    position: relative;

    &.site-container--section {
      @include from-1100 {
        padding-top: 60px;
      }
    }
  }

  &__content{

  }

  &__title{

  }

  &__all-wrap{
    position: absolute;
    width: 100%;

    @include for-800{
      display: none;
    }
  }

  &__all-reviews{
    position: absolute;
    right: 30px;
    bottom: 24px;
  }

  &__slider-wrap{

  }

  &__slider{
    position: relative;
    min-height: 290px;

    @include for-1100{
      min-height: 320px;
    }

    @include for-680{
      width: calc(100% + 15px);
    }
  }

  &__slider-inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    padding-left: 90px;

    @include for-1400{
      padding-left: 0;
    }

    @include for-550{
      padding: 0;
    }
  }

  &__slider-main{

  }

  &__item{
    padding: 0 15px;
  }

  &__item-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px;
    background: $white;
    box-shadow: 0px 4px 14px #e2d8cb;
    border-radius: 14px;
    max-height: 380px;
    min-height: 275px;

    @include for-550{
      padding: 24px;
    }
  }

  &__txt, p{
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__read-more{
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration-line: underline;
    color: $brown;

    &:hover{
      color: $accent;
    }
  }


  &__name{
    margin-top: 24px;
    font-weight: bold;
  }


}



.top-arrow {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX( -23px);
  cursor: pointer;
  transition: .2s ease-in-out;
  background: #F4ECE1;

  @include for-1200{
    display: none!important;
  }

  &.show{
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }

  &:hover &__ico{
    border-color: $brown;
    background: $white;
  }

  &__ico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #d5caba;
    box-sizing: border-box;
    border-radius: 6px;
    transition: .3s;
  }
}


.l-media-r-info{

  &__inner{
    position: relative;

    @include for-680{
      flex-direction: column-reverse;
    }
  }

  &__floating-img{
    right: 0;
    top: 0;

    transform: translate(20px, 40px);
  }

  &__title{

    @include from-680{
      max-width: 530px;
    }

    //@include for-680{
    //  max-width: 100%;
    //
    //  br{
    //    display: none;
    //  }
    //}
  }

  p{
    max-width: 530px;

    @include for-680{
      max-width: 100%;
    }
  }


  /*modify*/

  &.why-necessary &__media {
    padding-top: 0;

    @include from-680 {
      margin-top: -70px;
    }
  }

  &.why-necessary &__media-img {
    @include from-1400 {
      transform: translateX(56px);
    }


    @include for-680{
      height: 503px;
      position: relative;
      margin: 0 -15px;
      width: calc(100% + 30px);

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
      }
    }
  }

  /**************************/
  &.money-system {

    @media(min-width: 1400px){
      .site-container--section{
        padding-top: 0!important;
      }

      margin-top: -32px;
    }
  }

  &.money-system &__content {
    > *{
      @include from-1400{
        max-width: 420px;
      }
    }
  }
  &.money-system &__media {

  }

  &.money-system &__media-img {

    @include from-1400 {
      transform: translateX(83px) translateY(17px);
    }

    @include for-680{
      height: 312px;
      position: relative;
      margin: 0 -15px;
      width: calc(100% + 30px);

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
      }
    }
  }


  /**************************/

  &.for-whom &__media-img {

    @include from-1400 {
      transform: translateX(9px) translateY(-15px);

      img{
        width: 100%;
      }

    }

    @include for-680{
      height: 320px;
      position: relative;
      margin: 0 -15px;
      width: calc(100% + 30px);
      transform: scale(1.1) translate(-23px, -20px);

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
      }
    }
  }

  /**************************/

  &.instruction {
    @include from-1100{
      margin-top: -19px;
      margin-bottom: 30px;
    }
  }
  &.instruction .l-media-r-info__inner{
    @include from-1100 {
      padding-top: 0;
    }

    @include for-680{
      padding-bottom: 16px;
    }
  }

  &.instruction &__media{
    @include for-680{
      display: none;
    }
  }
  &.instruction &__media-img {

    @include from-1400 {
      transform: translateX(3px) translateY(20px);

      img{
        width: 100%;
        max-width: 491px;
      }

    }

    @include for-680{
      height: 320px;
      position: relative;
      margin: 0 -15px;
      width: calc(100% + 30px);
      transform: scale(1.1) translate(-23px, -20px);

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
      }
    }
  }

  /**************************/

  &.advant-consol {
    @include from-1100{
      padding-top: 50px;
    }
  }
  &.advant-consol .l-media-r-info__inner{
    @include from-1100 {

    }
  }

  &.advant-consol &__media{

    @include from-1100 {
      height: 568px;
      position: relative;
      padding-top: 0;
    }
  }

  &.advant-consol &__media-img {

    @include from-1100 {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(-42px) translateY(-40px);
      width: 610px;

      img{
        width: 100%;
        max-width: 610px;
      }

    }

    @include for-680{
      height: 320px;
      position: relative;
      margin: 0 -15px;
      width: calc(100% + 30px);
      transform: scale(1.1);

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
      }
    }
  }


  /**************************/

  &.express-delivery &__inner {
    @include from-1100 {
      padding-top: 80px;
    }
  }
  &.express-delivery &__media{
    padding-top: 0;
  }
  &.express-delivery &__media-img {

    @include from-1100 {
      transform: translateX(36px) translateY(100px);
    }
  }

  /**************************/

}


.cascade{
  &__inner{
    @include for-800{
      flex-direction: column;
    }
  }

  &__content{

    @include for-800{
      width: 100%;
      max-width: 100%;

      .site-btn{
        margin-bottom: 32px;
      }
    }
  }

  &__title{
    @include from-1100{
      width: calc(100% + 30px);
    }

    //@include for-800{
    //
    //  br{
    //    display: none;
    //  }
    //}
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    padding-top: 12px;
  }

  &__item{
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;

    @include for-680{
      width: 100%;
      margin-bottom: 12px;
    }


    @include from-800 {
      &:nth-child(4n - 1),
      &:nth-child(4n - 4) {
        transform: translateX(-155px);
      }
    }
  }

  &__item-content{
    min-height: 194px;
    padding: 24px 19px 24px 24px;
    width: 100%;

    @include for-680{
      padding: 32px 24px;
    }

    p{
      margin: 0;

      @include from-680 {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}


.table-block{

  &__inner{
    position: relative;

    @include for-1100{
      flex-direction: column;
    }

    &.site-container--section {
      @include from-1100 {
        padding-top: 70px;
      }

      @include for-680{
        padding-bottom: 10px;
      }
    }
  }

  &__content{
    @include for-1100{
      max-width: 100%;
      width: 100%;

      .site-btn{
        margin-bottom: 18px;
      }
    }

    @include for-800{
      .site-btn{
        margin-bottom: 0;
      }
    }


    @include from-1100{
      > *{

        max-width: 383px;
      }
    }
  }

  &__table{
    margin-top: 69px;
    @include for-1100{
      max-width: 100%;
      width: 100%;

      margin-top: 40px;
    }
  }


  &__boxes-img{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-22%, -14%);

    @include for-1100{
      display: none;
    }
  }


  /*modify*/

  &--fbm-fulfilment .site-container--section{
    padding-top: 30px;
  }
}

.plans{

  &__truck-img{
    right: 100%;
    bottom: 100%;
    position: absolute;
    transform: translateX(32px) translateY(71px);

    @include for-1400{
      transform: translateX(50%) translateY(30px);
    }

    @include for-1100{
      display: none;
    }
  }

  &__inner{
    position: relative;
  }

  &__title{

  }

  &__content{
    padding-top: 16px;
  }

  &__list{

  }

  &__item{
    display: flex;

    @include for-1100{
      margin-bottom: 12px;
    }

    &.custom-col--25{

      .price-case{
        padding: 32px 20px 32px 30px;
      }
    }
  }

  &__item-content{

  }


  &__caption{
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    text-align: right;
    color: $brown;
    margin-top: 24px;

    @include for-680{
      display: none;
    }
  }


  /*modify*/
  &.price-volume{
    margin-top: 10px;
  }

  &.price-volume &__item-content{
    height: 228px;

    @include for-992{
      height: 207px;
    }
  }
}




.faqs{
  &__inner{

    @include for-1100{
      flex-direction: column;
    }
  }

  &__content{
    width: 100%;
    max-width: 469px;

    @include for-1100{
      max-width: 100%;

      .mw-320{
        max-width: 100%;
      }
    }
  }

  &__title{
    @include for-1100{
      max-width: 100%;

      .mw-350{
        max-width: 100%;
      }
    }
  }

  &__media{

  }

  &__list-block{
    width: 100%;
  }

  &__list{

    @include from-1100 {
      padding-top: 75px;
    }
  }

  &__item{
    @include for-680{
      margin-bottom: 12px;
    }
  }

  &__item-content{

  }
}


.form-checkbox{
  margin-bottom: 15px;

  input{
    display: none;

    & + label{
      &:before{
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 3px;
        opacity: 0.4;
        border: 1px solid #8F7A61;
        margin-right: 12px;
      }
    }

    &:checked + label:before{
      border: 1px solid #8F7A61;
      opacity: 1;
      background: #8F7A61 url("../img/check.svg") center center no-repeat;
    }
  }

  label{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }
}

.form-input{
  input{
    border: 1px solid #BBAD9C;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px 13px;
    background: transparent;

    &::placeholder{
      font-size: 14px;
      line-height: 16px;
      color: #BBAD9C;
    }
  }
}

