@import "./modules/_mixins";
@import "./modules/_colors";

.responsibility .page__wrapper{
  background-image: url("../img/background-img-homepage--top.svg");
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-homepage--top1920(1).svg");
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: 100%;
  }

  @include for-1100{
    background-image: url("../img/background-img-rhombus1100.svg");
    background-size: auto;
    background-position: center 2%;
  }

  @include for-992{
    background-size: cover;
  }
}
.responsibility{
  &__title{
    padding-bottom: 40px;

    &.site-title{
      max-width: 726px;
    }
  }
  &__rules{
    position: relative;
    z-index: 1;
    background: red;
    display: flex;
    flex-direction: column;
  }
  &__rules-list{
    max-width: 726px;
  }
  &__rules-ico{
    background: blue;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}