@import "./modules/_mixins";
@import "./modules/_colors";

.return-processing .page__wrapper{
  background-image: url("../img/background-img-return-processing.svg");
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-return-processing1920.svg");
    background-position: center top;
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: auto;
  }

  @media (min-width: 1920px){
    background-size: 100%;
  }

  @include for-1100{
    background-image: url("../img/background-img-return-processing1100.svg");
    background-size: auto;
    background-position: center 2%;
  }
}

.responsibilities-block{

  .grid-padding.left-block{
    padding-top: 25px;
  }

  .block-checked__title{
    max-width: 383px;

    @include for-680{
      max-width: 100%;
    }
  }

  .site-btn{
    @include for-800{
      display: none;
    }
  }

  .block-checked .site-title__large{
    @include for-800{
      display: none;
    }
  }
}

.capital--return{
  .capital__content p{
    width: 407px;

    @include for-680{
      width: auto;
    }
  }
}

.can-go-wrong{
  margin-top: -54px;

  @include for-1100{
    margin-top: 0;
  }

  .numbered-tiles__item{
    @include for-550{
      min-height: 234px;
    }
  }

  .site-case__name{
    font-size: 24px;
    line-height: 29px;

    @include for-550{
      font-size: 18px;
      line-height: 21px;
    }
  }

  .site-title{
    p {
      max-width: 543px;
    }
  }
}

.why-necessary{

  .site-container{
    padding-top: 84px;

    @include for-800{
      padding-top: 50px;
      padding-bottom: 0;
    }
  }

  .right-block{
    p{
      padding-right: 50px;

      @include for-680{
        padding-right: 0;
      }
    }
  }

  .left-block{
    img{
      width: 577px;

      @include for-1400{
        margin-left: -74px;
      }

      @include for-1200{
        width: 100%;
        margin-left: 0;
      }

      @include for-800{
        width: calc(100% + 55px);
        margin-left: -20px;
      }
    }
  }
}

.cascade--return{
  .right-block{
    margin-top: 80px;

    @include for-800{
      margin-top: 0;
    }
  }
}

.mw-360{
  max-width: 360px;
}

.block-checked{

  &__inner{
    padding: 43px;
    background: #F8F4EE;
    box-shadow: 0px 4px 30px #E2D8CB;
    border-radius: 14px;

    @include for-680{
      background: none;
      box-shadow: none;
      padding: 15px 0;
    }
  }

  &__title{

  }

  &__items{

  }

  &__item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 23px;

    div{
      padding-top: 4px;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &:before{
      content: "";
      display: block;
      min-width: 32px;
      height: 32px;
      background: url("../img/check-mark.svg") center center no-repeat;
      margin-right: 16px;
    }

  }

}

.why-importantly{

  .double-block{
    @include for-680{
      flex-direction: column-reverse;
      padding-bottom: 0;
    }
  }

  .left-block{
    @include for-680{
      justify-content: center;
    }

    img{
      display: block;
      width: 747px;
      transform: translate(-110px, -40px);

      @include for-1400{
        width: 600px;
      }

      @include for-1200{
        width: 100%;
        transform: translate(0, -80px);
      }

      @include for-680{
        transform: translate(20px, 0);
        width: 515px;
        margin-bottom: 60px;
      }
    }
  }

  .right-block{
    p{
      max-width: 493px;
    }
  }

  .left-media{
    @include for-800{
      padding-top: 20px;
    }
  }
}

.plans--return{
  .site-title p{
    max-width: 515px;
  }

  .plans__item.custom-col--25 .price-case {
    padding: 40px 20px 40px 30px;
  }

  .price-case__content {
    padding-left: 35px;
  }

  .price-case {
    padding: 32px 25px 32px 30px;
  }

  .price-case__title{
    @include for-992{
      br{
        display: none;
      }
    }
  }

  .plans__bottom{
    margin-top: 16px;

    @include for-800{
      display: none;
    }

    &.right{
      text-align: right;
    }
    span {
      font-size: 12px;
      line-height: 17px;
      color: #8F7A61;
    }
  }
}

.numbered-tiles--return{
  padding-top: 30px;
  margin-bottom: -20px;
}
