@import "./modules/_mixins";
@import "./modules/_colors";


.testimonials .page__wrapper{
  background-image: url("../img/background-img-testimonials--top.svg?123"), url("../img/background-img-testimonials--bottom.svg?123");
  background-position: center top, center calc(100% + 215px);
  background-size: auto, auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-testimonials--top1920.svg?123"), url("../img/background-img-testimonials--bottom1920.svg?123");
    background-size: auto, auto;
  }

  @media (min-width: 1600px){
    background-size: 100%;
  }

  @include for-1100{
    background-image: url("../img/background-img-testimonials--bottom1100.svg?123");
    background-size: auto;
    background-position: center bottom;
  }

}



.testimonials{
  .capital__content{
    .capital__title{
      @include from-1100{
        width: calc(100% + 30px);
      }
    }
  }

  .capital__media{
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;

    @include for-680{
      overflow: initial;

      img{
        width: 100%;
      }
    }
  }

  .capital__media-img{

    @include for-680{
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}

.reviews-all{
  &__inner{

  }

  &__content{

  }

  &__title{

  }

  &__list-wrapper{
    position: relative;

    @include from-680{
      padding-top: 20px;
    }
  }

  &__floating-img{
    right: 7px;
    top: calc(27% + 3px);

    &.floating-img {
      @include for-1200 {
        display: block;
      }

      @include for-992{
        display: none;
      }
    }
  }

  &__truck-img{
    position: absolute;
    left: -162px;
    bottom: calc(41% + 4px);
    width: 163px;

    @include for-1200{
      display: none;
    }

    svg{
      width: 100%;
    }
  }

  &__list{
    @include from-992{
      max-width: 726px;
    }
  }

  &__item{
    margin-bottom: 16px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__item-content{

    p{
      line-height:  23px;
    }

    &.site-case {
      padding: 32px;
    }
  }

  &__item-txt{
    margin-bottom: 18px;
  }

  &__item-author{

    &.site-case__name{
      margin-bottom: 0;
    }
  }

  &__pagination{

    @include from-992{
      display: flex;
      justify-content: flex-end;
      max-width: 726px;


      &.site-pagination{
        padding-top: 36px;
      }

      .site-pagination__inner,
      .site-pagination__items{
        margin: 0;
        width: fit-content;
      }
    }

    @include for-680{
      &.site-pagination {
        padding-bottom: 0;
      }
    }
  }

}


.give-feedback{

  &__inner{

  }

  &__content{

  }

  &__title{

  }

  &__form-wrapper{

  }

  &__form{
    padding-top: 8px;
    max-width: 644px;
    width: 100%;
  }

  &__inner{

  }

}
