@import "./modules/_mixins";
@import "./modules/_colors";

.agreement .page__wrapper{
  background-image: url("../img/background-img-three-pages.svg?123");
  background-size: auto;
  background-repeat: no-repeat;



  @media (min-width: 1446px){
    background-image: url("../img/background-img-three-pages1920.svg?123");
    background-position: center top;
    background-size: auto;
  }

  @media (min-width: 1600px){
    background-size: auto;
  }

  @media (min-width: 1920px){
    background-size: 100%;
  }
}

.agreement{

  &__inner {
    @include for-680 {
      padding-bottom: 0 !important;
    }
  }

  &__content{
    padding-top: 23px;
  }
  &__title{
    padding-top: 10px;
    &.site-title{
      max-width: 726px;
    }
  }
  &__rules{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: -15px 0;
  }
  &__rules-list{
    p{
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: $grey;
    }
    max-width: 726px;
  }
  &__rules-ico{
    position: absolute;
    top: 50%;
    right: -4%;
    transform: translateY(-50%);
    @include for-992{
      display: none;
    }
  }
  &__contracts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    .faqs__list-block{
      width: 100%;
      max-width: 701px;
      margin-left: 15px;
      padding-top: 22px;
      .faqs__list{
        padding: 0;
            .faqs__item p {
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              line-height: 22px;
              color: $grey;
              padding-bottom: 25px;
              &:nth-child(1){
                padding-top: 15px;
              }
            }
      }
      @include for-800{
        margin: 0;
        max-width: unset;
      }
    }

    &-ico{
      position: absolute;
      top: 40%;
      left: -25%;
      transform: translateY(50%);

      @include for-1100{
        display: none;
      }
    }
    &-head-title{
      position: relative;
      width: 100%;
      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.465em;
        text-transform: uppercase;
        color: $accent;
      }
    }
    &-title {
      position: relative;
      display: flex;
      flex: 1 1 calc(100% - 701px + 30px);
      align-items: center;
      p {
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 500;
        line-height: 42px;
        margin-right: 15px;
        color: $grey;
        span{
          color: $accent;
        }
      }

      @include for-800{
        margin: 0;
        padding-bottom: 30px;
      }
    }
    &--icon{
      .site-title__ico {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -105px;
        top: -20px;
        width: 81px;
        height: 81px;
      }
    }
    @include for-800{
      flex-wrap: wrap;
    }
  }
}