.numbered-tiles
  .numbered-tiles__inner.site-container.site-container--section
    .numbered-tiles__content.grid-padding
      .numbered-tiles__title.site-title
        .site-title__ico.shadow
          include ../../img/site-title-all-services.svg
        .site-title__designation усi послуги
        .site-title__large Ми намагаємося облегшити життя&nbsp
          span на всiх етапах

      ol.numbered-tiles__list.custom-row.custom-row--12px
        li.numbered-tiles__item.custom-col
          .numbered-tiles__item-content.site-case
            .numbered-tiles__item-name.site-case__name Експрес доставка з України та Бiлорусi
            p Мо доставляємо куди завгодно — США, Канада, Європа, Азiя зi знижкою у 70%
        li.numbered-tiles__item.custom-col
          .numbered-tiles__item-content.site-case
            .numbered-tiles__item-name.site-case__name Вiдправляємо консолiдацiйнi замовлення
            p Консолідація передбачає одночасну обробку великої кількості товарів, що істотно заощаджує час, гроші та зусилля по доставці.
        li.numbered-tiles__item.custom-col
          .numbered-tiles__item-content.site-case
            .numbered-tiles__item-name.site-case__name Приймаємо оплати з PayPal та кредитних карток
            p Здiйснюємо переказ коштiв у доларi без конвертацiй, затримок та обмежень на рахунки Приватбанку чи платiжної системи Payoneer
        li.numbered-tiles__item.custom-col
          .numbered-tiles__item-content.site-case
            .numbered-tiles__item-name.site-case__name FBM Fullfilment
            p Отримуйте, зберiгайте, пакуйте та вiдправляйте покупцю товари користючись послугою SKLADUSA “FBM Fulfillment” та заощаджуйте.
        li.numbered-tiles__item.custom-col
          .numbered-tiles__item-content.site-case
            .numbered-tiles__item-name.site-case__name FBA Prep-Center
            p Реалiзовуйте свiй товар на Amazon за допомогою FBA Fulfilment центру
        li.numbered-tiles__item.custom-col
          .numbered-tiles__item-content.site-case
            .numbered-tiles__item-name.site-case__name Оброблюємо повернення
            p Процес продажу товарiв за кордон не застрахований вiд ситуацiй з поверненнями. Зi SKLADUSA ви нiколи не загубите вашi посилання



