.popup.calculator-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content
        .site-calculator
          iframe(data-lazyload-src="https://test.skladusa.com/ua/calculator/for-new-site" data-src="" width="400" height="500")