.capital.consolidations
  .capital__inner.site-container.site-container--section
    .capital__content.grid-padding
      .capital__title.site-title
        .site-title__ico.shadow
          include ../../img/site-title-consolidations.svg
        .site-title__designation Консолiдацiї
        .site-title__large Вiдправляйте товари найдешевим чином для вас<br>
          span Решту ми зробимо за вас
      p Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.<br>
      |   Після прибуття товару на склад, замовлення додатково упакують (за необхідності) і відправлять вашому покупцеві.
      .capital__manage.custom-row.custom-row--12px
        .capital__manage-item.custom-col.fit-content
          a(href="#").site-btn
            span Зареєcтруватися
    .capital__media
      .capital__media-img
        include ../../img/caption-consolidations-img.svg