.popup.express-order-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content
        .popup__title Експрес замовлення
        p Ми хочемо, щоб вашi клiєнти отримували посилання якомога швидше, тому ми пропонємо вибiр перевiзникiв, якi можуть допомогти
        .popup__accordion.accordion.js_accordion
          .popup__accordion-item
            .popup__accordion-item-content.accordion__item
              .accordion__head
                .accordion__head-ico
                  include ../../img/tab-dhl.svg
                | DHL
              .accordion__content
                p Вiдправляє замовлення вагою вiд 500 грамiв по всьому свiту: Америка, країни Европи та Австралiї.
          .popup__accordion-item
            .popup__accordion-item-content.accordion__item
              .accordion__head
                .accordion__head-ico
                  include ../../img/tab-tnt.svg
                | TNT
              .accordion__content
                p Здiйснює вiдправлення вагою вiд 500 грамiв по вciх континентах за найнижчою цiною.
          .popup__accordion-item
            .popup__accordion-item-content.accordion__item
              .accordion__head
                .accordion__head-ico
                  include ../../img/tab-fedex.svg
                | FeDex
              .accordion__content
                p Здiйснює вiдправлення вагою вiд 500 грамiв по вciх континентах за найнижчою цiною.

        .popup__subtitle Комісія SkladUSA для експрес відправлень (без отриманої оплати):
        ul.site-ul
          li.m-0 до 2кг - $2
          li.m-0 до 5 кг - $3
          li.m-0 до 10кг - $5
          li.m-0 від 10кг - 1$0
        p Для розрахунку береться більша вага – фактична або об’ємна. Для відправлень з транзакцією комісія відсутня.



