footer.footer
  .footer__inner.site-container
    .footer__wrap.grid-padding
      .footer__center
        .footer__row
          .footer__column
            .footer__logo
              a(href="/").footer__logo-i
                include ../../img/skladusa-logo.svg
            .footer__contact.contacts.hide-for-800
              a(href="tel:0800217096").contacts__item
                .contacts__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-ukrainian.svg" alt="ico" width="16" height="10").lazyload
                | 0 (800) 217 096
              a(href="tel:+16124338383").contacts__item
                .contacts__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-american.svg" alt="ico" width="16" height="10").lazyload
                | +1 (612) 433 83 83 (FBM)
              a(href="tel:+16126367581").contacts__item
                .contacts__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-american.svg" alt="ico" width="16" height="10").lazyload
                | +1 (612) 636 75 81 (FBA)
            .footer__email.hide-for-800
              a(href="mailto:support@skladusa.com").footer__email-i support @ skladusa.com

          .footer__column
            .footer__title Сервiси
            ul.footer__list
              li.footer__item
                a(href="#").footer__link ФБМ
              li.footer__item
                a(href="#").footer__link ФБА
              li.footer__item
                a(href="#").footer__link Приймання оплат
              li.footer__item
                a(href="#").footer__link Експрес доставка
              li.footer__item
                a(href="#").footer__link Консолiдацiя
              li.footer__item
                a(href="#").footer__link Обробка повернень

          .footer__column
            .footer__title Довiдка
            ul.footer__list
              li.footer__item
                a(href="#").footer__link Про нас
              li.footer__item
                a(href="#").footer__link Система
              li.footer__item
                a(href="#").footer__link Вiдповiдальнiсть
              li.footer__item
                a(href="#").footer__link Iнструкцiя
              li.footer__item
                a(href="https://system.skladusa.com/apidoc").footer__link Розробникам
              li.footer__item
                a(href="#").footer__link Заборонi товари

          .footer__column.show-for-800.w-100
            .footer__contact.contacts
              a(href="tel:0800217096").contacts__item
                .contacts__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-ukrainian.svg" alt="ico" width="16" height="10").lazyload
                | 0 (800) 217 096
              a(href="tel:+16124338383").contacts__item
                .contacts__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-american.svg" alt="ico" width="16" height="10").lazyload
                | +1 (612) 433 83 83 (FBM)
              a(href="tel:+16126367581").contacts__item
                .contacts__ico
                  img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-american.svg" alt="ico" width="16" height="10").lazyload
                | +1 (612) 636 75 81 (FBA)
            .footer__email
              a(href="mailto:support@skladusa.com").footer__email-i support @ skladusa.com

      .footer__bottom
        .footer__bottom-inner
          a(href="#").footer__bottom-link Копiрайт 2021
          a(href="#").footer__bottom-link Угода користувача
        .footer__bottom-made-by
          a(href="https://asabix.com/").footer__bottom-link.m-0 Development Asabix

.top-arrow.js_top-arrow
  .top-arrow__ico
    include ../../img/ico/arrow-top.svg





