.mobile-menu.tablet
  .mobile-menu__inner
    .mobile-menu__list
      .mobile-menu__item
        a(href="#").mobile-menu__link Послуги
        .mobile-menu__sublist
          a(href="./fbm-fulfillment.html").mobile-menu__sublink FBM Fullfilment
          a(href="./express-order.html").mobile-menu__sublink Експрес вiдправка
          a(href="./fba-prep-center.html").mobile-menu__sublink FBA Преп центр
          a(href="./consolidation.html").mobile-menu__sublink Консолiдацiї
          a(href="./accepting-payments.html").mobile-menu__sublink Приймання платежiв
          a(href="./return-processing.html").mobile-menu__sublink Повернення
          a(href="#").mobile-menu__sublink Онлайн Арбiтраж
          a(href="#").mobile-menu__sublink Навчання
      .mobile-menu__item
        a(href="#").mobile-menu__link Вiдгуки
      .mobile-menu__item
        a(href="#").mobile-menu__link Служба пiдтримки
      .mobile-menu__item
        a(href="#").mobile-menu__link Про наспiдтримки
      .mobile-menu__item
        a(href="#").mobile-menu__link Про нас
      .mobile-menu__item
        a(href="./contacts.html").mobile-menu__link Контакти
      .mobile-menu__item
        a(href="./blog.html").mobile-menu__link Блог

    .mobile-menu__management
      .mobile-menu__login
        a(href="https://system.skladusa.com/login").mobile-menu__login-i Увiйти
      .mobile-menu__schedule
        .mobile-menu__schedule-txt Пн. — Пт. 9:00 — 18:00
      .mobile-menu__contact.contacts
        a(href="tel:0800217096").contacts__item
          .contacts__ico
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-ukrainian.svg" alt="ico" width="16" height="10").lazyload
          | 0 (800) 217 096
        a(href="tel:+16124338383").contacts__item
          .contacts__ico
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-american.svg" alt="ico" width="16" height="10").lazyload
          | +1 (612) 433 83 83 (FBM)
        a(href="tel:+16126367581").contacts__item
          .contacts__ico
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/ico/flag-american.svg" alt="ico" width="16" height="10").lazyload
          | +1 (612) 636 75 81 (FBA)
      .mobile-menu__email
        a(href="mailto:support@skladusa.com").mobile-menu__email-i support @ skladusa.com
      .mobile-menu__lang
        a(href="#").mobile-menu__lang-i.active Укр
        a(href="#").mobile-menu__lang-i Рус
        a(href="#").mobile-menu__lang-i En
