.reviews
	.reviews__inner.site-container.site-container--section
		.reviews__content.grid-padding
			.reviews__title.site-title
				.site-title__ico.shadow
					include ../../img/site-title-all-reviews.svg
				.site-title__designation Вiдгуки
				.site-title__large Ми цiнуємо наших клiєнтiв,&nbsp;<br>
					| а вони&nbsp;
					span вдячнi за нашу працю

		.reviews__all-wrap.site-container
			a(href="#").site-link.reviews__all-reviews
				span Усi вiдгуки

		.reviews__slider
			.reviews__slider-inner
				.reviews__slider-main.js_slider-reviews
					.reviews__item
						.reviews__item-content
							p.reviews__txt Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.
							.reviews__name Олiвiя
					.reviews__item
						.reviews__item-content
							p.reviews__txt Великий вибір методів доставки дозволяє обрати оптимальний варіант за співвідношенням ціна/швидкість.
							.reviews__name Дмитро
					.reviews__item
						.reviews__item-content
							p.reviews__txt Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.Розташування складу дозволяє нам відправляти ваш товар за доступною ціною. Все це дозволить вам залишатися конкурентоспроможними. Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.
							span.reviews__read-more Читати далi
							.reviews__name Тетяна
					.reviews__item
						.reviews__item-content
							p.reviews__txt Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.
							.reviews__name Олiвiя
					.reviews__item
						.reviews__item-content
							p.reviews__txt Великий вибір методів доставки дозволяє обрати оптимальний варіант за співвідношенням ціна/швидкість.
							.reviews__name Дмитро
					.reviews__item
						.reviews__item-content
							p.reviews__txt Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.Розташування складу дозволяє нам відправляти ваш товар за доступною ціною. Все це дозволить вам залишатися конкурентоспроможними. Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.
							span.reviews__read-more Читати далi
							.reviews__name Тетяна
