.popup.simplified-consolidation-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content
        .popup__title Спрощена Консолiдацiя
        p Консолідація замовлень / товарів в Україні і відправка на склад в Міннесоту з подальшою доставкою покупцеві місцевою поштою

        .popup__subtitle Умови вiдправлення
        ul.site-ul
          li Послуга доступна всім нашим клієнтам!
          li Замовлення будуть відправлені покупцеві зі складу в США в тому в вигляді, в якому прибули на склад
          li Відправки консолідації кожного дня!
          li Відправлення, що надходять у відділення Нової пошти до 11 години, відправляються того ж дня

        .popup__subtitle Цiни
        .popup__list.popup__list--three
          .popup__list-item
            .popup__list-item-ico
              img(src="./img/ico/popup-usa-flag.png" alt="support").lazyload
            .popup__list-item-content
              .popup__subtitle USA
              p до 100 г — від $5.5
              p до 200 г — від $6.5
              p до 450 г — від $10
          .popup__list-item
            .popup__list-item-ico
              img(src="./img/ico/popup-canada-flag.png" alt="support").lazyload
            .popup__list-item-content
              .popup__subtitle Канада
              p до 100 г —  від $9.5
              p до 200 г —  від $12.2
              p до 300 г — від $14
              p до 450 г — від $17.5
          .popup__list-item
            .popup__list-item-ico
              img(src="./img/ico/popup-europe-flag.png" alt="support").lazyload
            .popup__list-item-content
              .popup__subtitle Європа
                span.site-tooltip-btn.js__tooltip(data-template="eu-tooltip")
              p до 100 г — від $9.5
              p до 200 г — від $11.5
              p до 300 г — від $12
              p до 450 г — від $13.5


.d-none
  div#eu-tooltip
    .site-tooltip
      p
        b Вiдправлення у наступнi країни
      p Нiмеччина, Францiя, Iспанiя, Бельгiя, Нiдерланди, Португалiя, Iталiя, Румунiя, Данiя, Угорщина, Словенiя, ХорватIя, Чехiя, Словаччина, Естонiя, Латвiя, Австрiя, Швецiя, Грецiя, Фiнляндiя, Джерсi.