.popup.thank-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content
        .popup__title.color-accent Дякуємо!
        p Ваша думка дуже важлива для нас.