//include _mixins

block vars
  - var cacheFix = parseInt(Math.random()*1000)

doctype html
html(lang="uk")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title SkladUSA website
    meta(name="description", content='description content')

    //favicon
    link(rel="icon" href="./img/favicon/favicon.ico" type="image/x-icon")

    if (pageActive === "homepage")
      link(rel='stylesheet', href='./css/libs/slick.css?' + cacheFix)
      link(rel='stylesheet', href='./css/slider.css?' + cacheFix)


    if (pageActive === "homepage")
      link(rel='stylesheet', href='./css/homepage.css?' + cacheFix)

    if (pageActive === "about")
      link(rel='stylesheet', href='./css/libs/slick.css?' + cacheFix)
      link(rel='stylesheet', href='./css/slider.css?' + cacheFix)
      link(rel='stylesheet', href='./css/about.css?' + cacheFix)

    if (pageActive === "fba-prep-center")
      link(rel='stylesheet', href='./css/fba-prep-center.css?' + cacheFix)

    if (pageActive === "accepting-payments")
      link(rel='stylesheet', href='./css/accepting-payments.css?' + cacheFix)

    if (pageActive === "return-processing")
      link(rel='stylesheet', href='./css/return-processing.css?' + cacheFix)

    if (pageActive === "fbm-fulfillment")
      link(rel='stylesheet', href='./css/fbm-fulfillment.css?' + cacheFix)

    if (pageActive === "consolidation")
      link(rel='stylesheet', href='./css/consolidation.css?' + cacheFix)

    if (pageActive === "express-order")
      link(rel='stylesheet', href='./css/libs/slick.css?' + cacheFix)
      link(rel='stylesheet', href='./css/slider.css?' + cacheFix)
      link(rel='stylesheet', href='./css/express-order.css?' + cacheFix)

    if (pageActive === "blog")
      link(rel='stylesheet', href='./css/blog.css?' + cacheFix)

    if (pageActive === "blog-item")
      link(rel='stylesheet', href='./css/libs/slick.css?' + cacheFix)
      link(rel='stylesheet', href='./css/slider.css?' + cacheFix)
      link(rel='stylesheet', href='./css/blog.css?' + cacheFix)
      link(rel='stylesheet', href='./css/blog-item.css?' + cacheFix)

    if (pageActive === "contacts")
      link(rel='stylesheet', href='./css/libs/slick.css?' + cacheFix)
      link(rel='stylesheet', href='./css/slider.css?' + cacheFix)
      link(rel='stylesheet', href='./css/contacts.css?' + cacheFix)

    if (pageActive === "responsibility")
      link(rel='stylesheet', href='./css/responsibility.css?' + cacheFix)

    if (pageActive === "agreement")
      link(rel='stylesheet', href='./css/user-agreement.css?' + cacheFix)

    link(rel='stylesheet', href='./css/main.css?' + cacheFix)





  body(class="page " + pageClass)
    .page__wrapper
      include modules/_header

      main.page__content
        block content

      include modules/_footer

      if (pageActive === "consolidation")
        include modules/_consolidations-popup
        include modules/_simplified-consolidation-popup.pug

      if (pageActive === "express-order")
        include modules/_express-order-popup

      if (pageActive === "blog-item")
        include modules/_article-not-useful-popup.pug

    block scripts
      script(src='./js/libs/jquery.js')
      script(src='./js/libs/lazysizes.js')
      if (pageActive === "homepage" || pageActive === "blog-item" || pageActive === "about")
        script(src='./js/libs/slick.js')
        script(src='./js/slider.js')


      if (pageActive === "consolidation")
          script(src='./js/libs/popper.js')
          script(src='./js/libs/tippy-bundle.umd.js')

      if (pageActive === "contacts")
        script(src='./js/libs/slick.js')
        script(src='./js/slider.js')


      if (pageActive === "express-order")
        script(src='./js/libs/slick.js')
        script(src='./js/slider.js')

      script(src='./js/main.js?' + cacheFix)

