extends _layout

block vars
  - var pageTitle = "About";
  - var pageClass = "about";
  - var pageActive = "about";

block content
  div.main-wrap
    .capital.about-block
      .capital__inner.site-container.site-container--section
        .capital__content.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large Ми допомагаємо українцям та бiлорусам&nbsp;
              span продавати закордон
          p Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi. Ми можемо допомогти робити це зручно! Приймайте платежi, тримайте товар на наших складах та користуйтеся нашими службами доставки.
          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-btn
                span Зареєcтруватися
        .capital__media.rhombus
          .capital__media-img
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/about-on-hero-mobile.svg" media="(max-width: 680px)")
              img(src="./img/about-on-hero.svg" alt="education" width="540").lazyload


    .benefit-about
      .benefit-about__inner.site-container.site-container--section
        .benefit-about__head.center-content.grid-padding.mw-800
          .benefit-about__title.site-title.mw-100
            .site-title__ico.shadow
              include ../img/site-title-charity.svg
            .site-title__designation Благоiйнiсть
            .site-title__large Ми люди. Ми потрiбнi один одному.&nbsp;
              span Залишаймося людьми

        .benefit-about__content
          .benefit-about__media.w-half
            .benefit-about__media-img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/about-charity-img.svg" alt="benefit").lazyload

          .benefit-about__list.grid-padding.center-content.center-content--w100.accordion.js_accordion
            .benefit-about__item.accordion__item
              .accordion__head Благодiйний фонд “Таблеточки”
              .accordion__content
                p Перераховано 100 000грн на необхiдностi героїв, що захищають Україну вiд країни-агрессора РФ
            .benefit-about__item.accordion__item.open
              .accordion__head “Народний тил”
              .accordion__content
                p Перераховано 100 000грн на необхiдностi героїв, що захищають Україну вiд країни-агрессора РФ
            .benefit-about__item.accordion__item
              .accordion__head “Дом ребенка”, Мiнськ, Бiлорусь
              .accordion__content
                p Перераховано 100 000грн на необхiдностi героїв, що захищають Україну вiд країни-агрессора РФ


    .benefit-about
      .benefit-about__inner.site-container.site-container--section
        .benefit-about__head.center-content.grid-padding.mw-800
          .benefit-about__title.site-title.mw-100
            .site-title__ico.shadow
              include ../img/site-title-charity.svg
            .site-title__designation Досягнення
            .site-title__large Пишаємося нашим прогресом&nbsp;<br>
              span та нашими клiєнтами

        .benefit-about__content
          .benefit-about__list
            .benefit-about__item
              .benefit-about__item-content
                .benefit-about__counter
                  .benefit-about__counter-ico
                  .benefit-about__content
                    .benefit-about__large-num
                      span 150
                      | +
                    .benefit-about__caption Країн

            .benefit-about__item
              .benefit-about__item-content
                .benefit-about__counter
                  .benefit-about__counter-ico
                  .benefit-about__content
                    .benefit-about__large-num
                      span 500
                      | k+
                    .benefit-about__caption Посилок

            .benefit-about__item
              .benefit-about__item-content
                .benefit-about__counter
                  .benefit-about__counter-ico
                  .benefit-about__content
                    .benefit-about__large-num
                      span 400
                      | +
                    .benefit-about__caption Тон вантажу


