extends _layout

block vars
  - var pageTitle = "Blog";
  - var pageClass = "blog";
  - var pageActive = "blog";

block content
  div.main-wrap
    .capital
      .capital__inner.site-container.site-container--section
        .capital__content.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large
              | Кориснi статтi про&nbsp;
              span продаж закордон

    .search-line
      .search-line__inner.site-container
        form
          input(type='text' placeholder='Введiть ваш запит').search-line__input
          a(href="#").search-line__btn Пошук

    .blog-list
      .blog-list__inner.site-container
        .blog-list__items
          .blog-list__item
            .blog-list__item-content
              a(href="./blog-item.html").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-4.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi?
                .blog-list__desc Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi. Ми можемо...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-3.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Вiдправляйте товари найдешевим чином для вас. Дiзнайтесь як
                .blog-list__desc Завдяки повноцінному складу, ви маєте можливість відправляти...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-2.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Процесс роботи SKLADUSA: що після прибуття товару на склад
                .blog-list__desc Після прибуття товару на склад, замовлення додатково упакують (за...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-1.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Процесс роботи SKLADUSA: що після прибуття товару на склад
                .blog-list__desc Після прибуття товару на склад, замовлення додатково упакують (за...

          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-4.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi?
                .blog-list__desc Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi. Ми можемо...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-3.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Вiдправляйте товари найдешевим чином для вас. Дiзнайтесь як
                .blog-list__desc Завдяки повноцінному складу, ви маєте можливість відправляти...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-2.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Процесс роботи SKLADUSA: що після прибуття товару на склад
                .blog-list__desc Після прибуття товару на склад, замовлення додатково упакують (за...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-1.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Процесс роботи SKLADUSA: що після прибуття товару на склад
                .blog-list__desc Після прибуття товару на склад, замовлення додатково упакують (за...

          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-4.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi?
                .blog-list__desc Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi. Ми можемо...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-3.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Вiдправляйте товари найдешевим чином для вас. Дiзнайтесь як
                .blog-list__desc Завдяки повноцінному складу, ви маєте можливість відправляти...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-2.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Процесс роботи SKLADUSA: що після прибуття товару на склад
                .blog-list__desc Після прибуття товару на склад, замовлення додатково упакують (за...
          .blog-list__item
            .blog-list__item-content
              a(href="#").blog-list__image
                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src='./img/blog/blog-1.png' alt='img').lazyload
              .blog-list__item-text
                .blog-list__date 23 Aug, 2020
                a(href="#").blog-list__title Процесс роботи SKLADUSA: що після прибуття товару на склад
                .blog-list__desc Після прибуття товару на склад, замовлення додатково упакують (за...

    //.site-pagination
    //  .site-pagination__inner.site-container
    //    ul.site-pagination__items
    //      li
    //        span.site-pagination__item.first.inactive Попередня
    //      li
    //        a(href="#").site-pagination__item.active 1
    //      li
    //        a(href="#").site-pagination__item 2
    //      li
    //        a(href="#").site-pagination__item 3
    //      li
    //        a(href="#").site-pagination__item 4
    //      li
    //        a(href="#").site-pagination__item.dots ...
    //      li
    //        a(href="#").site-pagination__item.black 23
    //      li
    //        a(href="#").site-pagination__item.last Наступна

    .site-pagination
      .site-pagination__inner.site-container
        ul.site-pagination__items
          li.first.disabled
            span Попередня
          li.disabled
            span 1
          li
            a(href="#").site-pagination__item 2
          li
            a(href="#").site-pagination__item 3
          li
            a(href="#").site-pagination__item 4
          li
            a(href="#").site-pagination__item.dots ...
          li
            a(href="#").site-pagination__item 23
          li.last
            a(href="#").site-pagination__item Наступна















