extends _layout

block vars
  - var pageTitle = "Consolidation";
  - var pageClass = "consolidation rhombus";
  - var pageActive = "consolidation";
  - var pageSection = "services";
  - var pageName = "Консолiдацiя";


block content
  div.main-wrap
    include ./modules/_breadcrumbs

    .capital
      .capital__inner.site-container.site-container--section
        .capital__content.capital__content--top-block.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large
              span Обробка великої кількості товарів —&nbsp;<br>
              | це просто i швидко
          p Консолідація передбачає одночасну обробку великої кількості товарів, що істотно заощаджує час, гроші і зусилля по доставці. Консолідація зробить доставку ваших замовлень до США простіше, швидше і зручніше. Ми поєднуємо переваги експрес доставки з низькою вартістю відправлення конкретного замовлення
          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-btn
                span Зареєcтруватися
            .capital__manage-item.custom-col.fit-content
              a(href="#").site-link
                span Детальнiше про нас
        .capital__media.rhombus
          .capital__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/consolidation-on-hero.svg" alt="img" width="636" height="636").lazyload

    .l-media-r-info.instruction
      .l-media-r-info__inner.site-container.site-container--section.double-block
        .l-media-r-info__media.left-block.left-media
          .l-media-r-info__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/instruction-img.svg" alt="image" width="491").lazyload

        .l-media-r-info__content.grid-padding.right-block
          .l-media-r-info__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-instruction.svg
            .site-title__designation Iнструкцiя
            .site-title__large Ще немає замовленя?&nbsp;<br> — Зберiгайте свiй товар&nbsp;<br>
              span на наших складах
          .mw-462
            p Висилайте експрес замолення збiрної посилки на наш склад у США. Там ми усе перепакуємо та поштою вiдправимо адресатам.
            p Вам не обов’язково самостійно формувати збірну посилку, ми зробимо це за вас: просто пришліть нам товар, готовий до відправлення, ми скомбінуємо його з іншими і відправимо на наш склад у США.



    .faqs
      .faqs__inner.site-container.site-container--section.double-block
        .faqs__content.grid-padding.left-block
          .faqs__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-faqs.svg
            .site-title__designation FAQs
            .site-title__large.mw-350
              span Є питання?&nbsp;
              | Ми пiдготували вiдповiдi
          .mw-350
            p Якщо ви не знайшли вiдповiдi на ваше запитання, чи знаходите її не повною, будь-ласка, зв’яжiться з нами, вирiшемо!

        .faqs__media.right-block
          .faqs__list.accordion.js_accordion
            .faqs__item
              .faqs__item-content.accordion__item
                .accordion__head Чи слiд починати спiвпарцю, якщо у мене ще нема замовлень?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.
            .faqs__item
              .faqs__item-content.accordion__item.open
                .accordion__head Якими службами користуватися для вiдправлення?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.
            .faqs__item
              .faqs__item-content.accordion__item
                .accordion__head Як довго товар буде їхати до складу?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.
            .faqs__item
              .faqs__item-content.accordion__item
                .accordion__head Чи обов’язково самому формувати збірну посилку?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.



    .bonus
      .bonus__inner.site-container.site-container--section.double-block
        .bonus__content.grid-padding.left-block
          .bonus__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-bonus.svg
            .site-title__designation Бонуси
            .site-title__large
              span Приймаєте платежi з SKLADUSA?&nbsp;
              | Тодi консолiдацiя стає гарним бонусом для вас
            ul.site-ul
              li.mb-24px Ви можете оплатити послуги доставки коштами зі свого балансу. Для тих клієнтів, які не користуються нашою послугою з приймання платежів, доступна функція поповнення балансу.
              li.mb-24px Замовлення створюється в один клік – інформацію про покупця буде заповнено автоматично і вам не доведеться вручну формувати відправлення.

        .bonus__media.right-block.right-media
          .bonus__media-img.d-flex.justify-content-end
            img(src="./img/bouses-img.svg" alt="support" width="562" height="410").lazyload


    .table-block
      .table-block__inner.site-container.site-container--section.double-block
        .table-block__content.grid-padding.left-block
          .table-block__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-automation.svg
            .site-title__designation Нашi обов’язки
            .site-title__large Ми допоможемо з усiм i&nbsp;
              span навiть бiльше
          p Ми беремо на себе усю рутину роботу, пов’язану з вiдправкою, пакуванням та зберiганням товару за доступною цiною.
          p З додатковими послугами — особливими роботами, що не зазначенi у списку — ми виконуємо за окрему плату у $ 35 / год  (мінiмум 30 хвилин).
          a(href="https://system.skladusa.com/registration").site-btn
            span Зареєcтруватися

        .table-block__table.right-block.grid-padding
          .site-table
            .site-table__inner
              table
                thead
                  tr
                    th Послуга
                    th Умови
                tbody
                  tr
                    td Приймаєм та беремо на облік
                    td до 3 днiв
                  tr
                    td Безкоштовне зберігання
                    td до 14 днів, далi: <br>
                      | $35 — 1\2 палети,<br>
                      | $50 — 1 палета в місяць
                  tr
                    td Наліпка FNSKU
                    td за потреби
                  tr
                    td Пакування
                    td за потреби
                  tr
                    td Набiр з декількох товарів
                    td $0.25 за кожен (без цiни за коробку)
                  tr
                    td Робота з вкладишами
                    td $0.10 за кожен
                  tr
                    td Вiдправлення до складу Amazon
                    td за тарифами перевізників


    .plans
      .plans__inner.site-container.site-container--section
        .plans__truck-img.truck-img
          include ../img/truck-cart-img.svg

        .plans__head.grid-padding
          .plans__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-plans.svg
            .site-title__designation Плани
            .site-title__large Обирайте те, що &nbsp;<br>
              span працює для вас краще

        .plans__content.grid-padding
          .plans__list.custom-row.custom-row--8px
            .plans__item.custom-col.custom-col--33
              .plans__item-content.price-case
                .price-case__head
                  span $1.00
                  | за 1 товар
                .price-case__content
                  .price-case__title.underline Новачок
                  .price-case__text
                    p 20—100 одиниць товару у мiсяць
                    p сума усiх сторiн до 60см, вага до 1кг.
            .plans__item.custom-col.custom-col--33
              .plans__item-content.price-case
                .price-case__head
                  span $0.80
                  | за 1 товар
                .price-case__content
                  .price-case__title.underline Премiум
                  .price-case__text
                    p 100—1000 одиниць товару у мiсяць
                    p сума усiх сторiн вiд 60см до 100см, вага до 2кг.
            .plans__item.custom-col.custom-col--33
              .plans__item-content.price-case
                .price-case__head
                  span $0.60
                  | за 1 товар
                .price-case__content
                  .price-case__title.underline VIP
                  .price-case__text
                    p бiльше 1000 одиниць товару у мiсяць
                    p сума усiх сторiн вiд 100см до 150см, вага до 5кг.


    include ./modules/_all-services


