extends _layout

block vars
  - var pageTitle = "Consolidation";
  - var pageClass = "consolidation";
  - var pageActive = "consolidation";
  - var pageSection = "services";
  - var pageName = "Консолiдацiя";


block content
  div.main-wrap
    include ./modules/_breadcrumbs

    .capital.consol-page
      .capital__inner.site-container.site-container--section
        .capital__content.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large
              span Обробка великої кількості товарів —&nbsp;<br>
              | це просто i швидко
          p Консолідація передбачає одночасну обробку великої кількості товарів, що істотно заощаджує час, гроші і зусилля по доставці. Консолідація зробить доставку ваших замовлень до США простіше, швидше і зручніше. Ми поєднуємо переваги експрес доставки з низькою вартістю відправлення конкретного замовлення
          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-btn
                span Зареєcтруватися
            .capital__manage-item.custom-col.fit-content
              a(href="#").site-link.site-link--desktop
                span Детальнiше про нас
              a(href="#").site-link.site-link--mobile
                span Про нас
        .capital__media.rhombus
          .capital__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/consolidation-on-hero.svg" alt="img" width="636" height="636").lazyload

    .l-media-r-info.instruction
      .l-media-r-info__inner.site-container.site-container--section.double-block
        .l-media-r-info__media.left-block.left-media
          .l-media-r-info__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/instruction-img.svg" alt="image" width="491").lazyload

        .l-media-r-info__content.grid-padding.right-block
          .l-media-r-info__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-instruction.svg
            .site-title__designation Iнструкцiя
            .site-title__large Ще немає замовленя?&nbsp;<br> — Зберiгайте свiй товар&nbsp;<br>
              span на наших складах
          .mw-462
            p Висилайте експрес замолення збiрної посилки на наш склад у США. Там ми усе перепакуємо та поштою вiдправимо адресатам.
            p Вам не обов’язково самостійно формувати збірну посилку, ми зробимо це за вас: просто пришліть нам товар, готовий до відправлення, ми скомбінуємо його з іншими і відправимо на наш склад у США.



    .faqs
      .faqs__inner.site-container.site-container--section.double-block
        .faqs__content.grid-padding
          .faqs__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-faqs.svg
            .site-title__designation FAQs
            .site-title__large.mw-350
              span Є питання?&nbsp;
              | Ми пiдготували вiдповiдi
          .mw-320
            p Якщо ви не знайшли вiдповiдi на ваше запитання, чи знаходите її не повною, будь-ласка, зв’яжiться з нами, вирiшемо!

        .faqs__list-block
          .faqs__list.accordion.js_accordion
            .faqs__item
              .faqs__item-content.accordion__item
                .accordion__head Чи слiд починати спiвпарцю, якщо у мене ще нема замовлень?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.
            .faqs__item
              .faqs__item-content.accordion__item.open
                .accordion__head Якими службами користуватися для вiдправлення?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.
            .faqs__item
              .faqs__item-content.accordion__item
                .accordion__head Як довго товар буде їхати до складу?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.
            .faqs__item
              .faqs__item-content.accordion__item
                .accordion__head Чи обов’язково самому формувати збірну посилку?
                .accordion__content
                  p Адресні відправлення по США доставляються службами USPS або FedEx (2-Day Air і Overnight) для гарантування швидких термінів доставки.



    .bonus
      .bonus__inner.site-container.site-container--section.double-block
        .bonus__content.grid-padding
          .bonus__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-bonus.svg
            .site-title__designation Бонуси
            .site-title__large
              span Приймаєте платежi з SKLADUSA?&nbsp;
              | Тодi консолiдацiя стає гарним бонусом для вас
            ul.site-ul
              li.mb-24px Ви можете оплатити послуги доставки коштами зі свого балансу. Для тих клієнтів, які не користуються нашою послугою з приймання платежів, доступна функція поповнення балансу.
              li.mb-24px Замовлення створюється в один клік – інформацію про покупця буде заповнено автоматично і вам не доведеться вручну формувати відправлення.

        .bonus__media
          .bonus__media-img.d-flex.justify-content-end
            img(src="./img/bouses-img.svg" alt="support" width="562" height="410").lazyload


    .cooperation
      .cooperation__inner.site-container.site-container--section
        .cooperation__content.grid-padding
          .cooperation__title.site-title.mw-100
            .site-title__ico.shadow
              include ../img/site-title-cooperation.svg
            .site-title__designation Варiацiї спiвпрацi
            .site-title__large Будь-яка консолiдацiя їде до <br>покупця&nbsp;
              span через склад від 6 днів

          .cooperation__case
            .cooperation__case-item
              .cooperation__case-content.coop-case
                .coop-case__title Консолiдацiя
                .coop-case__txt
                  p Консолідація замовлень / товарів в Україні і відправка на склад в Міннесоту з подальшою доставкою покупцеві місцевою поштою
                .coop-case__btn
                  .coop-case__btn-i
                    a(href="javascript:void(0)" data-modal-class="consolidations-popup").site-btn
                      span Читати деталi
                  .coop-case__btn-i
                    a(href="#").site-link
                      span Калькулятор
            .cooperation__case-item
              .cooperation__case-content.coop-case
                .coop-case__title Спрощена консолiдацiя
                .coop-case__txt
                  p Замовлення відразу повинні бути упаковані в тому в вигляді, в якому будуть відправлені покупцеві зі складу в США
                .coop-case__btn
                  .coop-case__btn-i
                    a(href="javascript:void(0)" data-modal-class="simplified-consolidation-popup").site-btn
                      span Читати деталi
                  .coop-case__btn-i
                    a(href="#").site-link
                      span Калькулятор


    .l-media-r-info.advant-consol
      .l-media-r-info__inner.site-container.site-container--section.double-block
        .l-media-r-info__media.left-block.left-media
          .l-media-r-info__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/advant-consol-img.svg" alt="image" width="610" height="569").lazyload

        .l-media-r-info__content.grid-padding.right-block
          .l-media-r-info__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-advant-consol.svg
            .site-title__designation Переваги Консолiдацiй
            .site-title__large Переваги консолідації товарів або замовлень&nbsp;<br>
              span неможливо недооцiнити
            p Щоб об’єктивно оцінити користь такої послуги, виділимо основні переваги консолідації товарів або замовлень:
            ul.site-ul
              li.mb-16px одночасне пересилання декількох позицій без обмежень по мінімальному і максимальному обсягу партії;
              li.mb-16px оперативна доставка на американський склад без затримок завдяки експрес-пошті;
              li.mb-16px швидке розсилання позицій замовникам, гідний рівень сервісу;
              li.mb-16px швидке розсилання позицій замовникам, гідний рівень сервісу;


    include ./modules/_all-services


