extends _layout

block vars
  - var pageTitle = "Index page";
  - var pageClass = "index";
  - var pageActive = "";
block content
  //
    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.png" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    div.prevpage(style="margin: 0 auto; padding: 20px; min-height: calc(100vh - 400px); display: flex; justify-content: center; color: black; flex-direction: column; align-items: center;")
      div
        a(href="./index1.html" style="font-size: 18px;") Главная
