extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage";
  - var pageActive = "homepage";

block content
  div.main-wrap
    .capital
      .capital__inner.site-container.site-container--section
        .capital__floating-img.floating-img
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/floating-img01.svg" alt="floating").floating-img__i.lazyload
        .capital__content.capital__content--top-block.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large Вiдправлення товарiв закордон та&nbsp;
              span прийом платежiв з платформ
          p Продавайте на Amazon, eBay, Etsy, чи iншiй торговiй платформi. Ми можемо допомогти робити це зручно! Приймайте платежi, тримайте товар на наших складах та користуйтеся нашими службами доставки.
          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-btn
                span Зареєcтруватися
            .capital__manage-item.custom-col.fit-content
              a(href="#").site-link
                span Детальнiше про нас
        .capital__media
          .capital__media-img
            include ../img/caption-homepage-img.svg

    include ./modules/_all-services

    .our-system
      .our-system__inner.site-container.site-container--section
        .our-system__content.grid-padding.center-content
          .our-system__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-our-system.svg
            .site-title__designation Наша Система
            .site-title__large Iнтерфейс, яким&nbsp;
              span зручно користуватися
          p Власна WHM-система (Warehouse Management System) і безліч автоматизованих функцій, які не потребують очікування відповіді на запит.

        .our-system__media.grid-padding
          .our-system__media-img
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/crm-interface-img.webp" type="image/webp")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/crm-interface-img.png" alt="crm interface").lazyload

    .benefit
      .benefit__inner.site-container.site-container--section
        .benefit__head.center-content.grid-padding
          .benefit__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-benefit.svg
            .site-title__designation з нами вигiдно
            .site-title__large Заощаджуйте

        .benefit__content
          .benefit__media.w-half
            .benefit__media-img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/benefit-img.svg" alt="benefit").lazyload
          .benefit__list.grid-padding.center-content.center-content--w100
            .benefit__item
              .benefit__item-ico
                .benefit__item-ico-i
                  include ../img/benefit-icon01.svg
              .benefit__item-content
                .benefit__item-title Усього лише 3% комiсiї з платежу
                p Пропонуємо найнижчу комiсiю за пройом платежiв — 3%.
            .benefit__item
              .benefit__item-ico
                .benefit__item-ico-i
                  include ../img/benefit-icon02.svg
              .benefit__item-content
                .benefit__item-title PayPal та банкiвскi картки
                p Користуйтеся зручними для вас платiжними системами —<br>ми працюємо з усiм.
            .benefit__item
              .benefit__item-ico
                .benefit__item-ico-i
                  include ../img/benefit-icon03.svg
              .benefit__item-content
                .benefit__item-title Безкоштовне користування складом FBM
                p За умови регулярних продажів і відправок до 1/2 палети ми<br>пропонуємо послуги FBM складу безкоштовно для вас
            .benefit__item
              .benefit__item-ico
                .benefit__item-ico-i
                  include ../img/benefit-icon04.svg
              .benefit__item-content
                .benefit__item-title 70% зинижки на експрес вiдправлення
                p Сплачуйте лише 30% вартостi експресс<br>вiдправлення з України.

    include ./modules/_consolidations

    .reviews
      .reviews__inner.site-container.site-container--section
        .reviews__content.grid-padding
          .reviews__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-all-reviews.svg
            .site-title__designation Вiдгуки
            .site-title__large Ми цiнуємо наших клiєнтiв,<br>&nbsp;
              | а вони&nbsp;
              span вдячнi за нашу працю

        .reviews__all-wrap.site-container
          a(href="#").site-link.reviews__all-reviews
            span Усi вiдгуки

        .reviews__slider
          .reviews__slider-inner
            .reviews__slider-main.js_slider-reviews
              .reviews__item
                .reviews__item-content
                  p.reviews__txt Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.
                  .reviews__name Олiвiя
              .reviews__item
                .reviews__item-content
                  p.reviews__txt Великий вибір методів доставки дозволяє обрати оптимальний варіант за співвідношенням ціна/швидкість.
                  .reviews__name Дмитро
              .reviews__item
                .reviews__item-content
                  p.reviews__txt Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.Розташування складу дозволяє нам відправляти ваш товар за доступною ціною. Все це дозволить вам залишатися конкурентоспроможними. Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.
                  span.reviews__read-more Читати далi
                  .reviews__name Тетяна
              .reviews__item
                .reviews__item-content
                  p.reviews__txt Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.
                  .reviews__name Олiвiя
              .reviews__item
                .reviews__item-content
                  p.reviews__txt Великий вибір методів доставки дозволяє обрати оптимальний варіант за співвідношенням ціна/швидкість.
                  .reviews__name Дмитро
              .reviews__item
                .reviews__item-content
                  p.reviews__txt Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.Розташування складу дозволяє нам відправляти ваш товар за доступною ціною. Все це дозволить вам залишатися конкурентоспроможними. Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.
                  span.reviews__read-more Читати далi
                  .reviews__name Тетяна

    .charity
      .charity__inner.site-container.site-container--section
        .charity__media.left-block.grid-padding
          .charity__media-i
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/tabletochki-logo.webp" type="image/webp")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/tabletochki-logo.png" alt="tabletochki" width="278").lazyload
          .charity__media-counter
            .charity__media-counter-i 1 050 002
              span грн


        .charity__content.grid-padding.right-block
          .charity__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-charity.svg
            .site-title__designation Благодiйнiсть
            .site-title__large Даруємо майбутнє<br>&nbsp;
              span разом!
          p Щороку у понад тисячі дітей в Україні виявляють рак. Донедавна далеко не всі з них мали доступ до якісної медичної допомоги. Благодійний фонд «Таблеточки» з 2011 року щоденно допомагає українським родинам перемагати рак, а лікарям — рятувати життя онкохворих дітей.

          a(href="#").site-btn
            span Читати Далi

    .automation
      .automation__inner.site-container.site-container--section
        .automation__content.left-block.grid-padding
          .automation__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-automation.svg
            .site-title__designation Автоматизацiя
            .site-title__large API iнтеграція<br>магазину<br>&nbsp;
              span з маркетплейсами
          p Найповніший функціонал, завдяки якому замовлення відображаються в особистому кабінеті, а трек номери автоматично відправляються на маркетплейси.

          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-btn
                span Зареєcтруватися
            .capital__manage-item.custom-col.fit-content
              a(href="#").site-link
                span Детальнiше про нас

        .automation__list-wrap.grid-padding.right-block
          .automation__list
            .automation__item
              .automation__item-content
                .automation__item-img
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/automation-ebay-logo.webp" type="image/webp")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/automation-ebay-logo.png" alt="automation").lazyload
            .automation__item
              .automation__item-content
                .automation__item-img
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/automation-amazon-logo.webp" type="image/webp")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/automation-amazon-logo.png" alt="automation").lazyload
            .automation__item
              .automation__item-content
                .automation__item-img
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/automation-woocommerce-logo.webp" type="image/webp")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/automation-woocommerce-logo.png" alt="automation").lazyload
            .automation__item
              .automation__item-content
                .automation__item-img
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/automation-etsy-logo.webp" type="image/webp")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/automation-etsy-logo.png" alt="automation").lazyload
            .automation__item
              .automation__item-content
                .automation__item-img
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/automation-opencart-logo.webp" type="image/webp")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/automation-opencart-logo.png" alt="automation").lazyload
            .automation__item
              .automation__item-content
                .automation__item-img
                  picture
                    source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/automation-tilda-logo.webp" type="image/webp")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/automation-tilda-logo.png" alt="automation").lazyload

    .warehouses
      .warehouses__inner.site-container.site-container--section.double-block
        .warehouses__floating-img.floating-img
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/floating-img02.svg" alt="floating").floating-img__i.lazyload
        .warehouses__media.left-block.left-media
          .warehouses__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/our-warehouses-img.svg" alt="warehouses" width="447").lazyload

        .warehouses__content.grid-padding.right-block
          .warehouses__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-warehouses.svg
            .site-title__designation Власнi склади
            .site-title__large
              span Власний склад<br> &nbsp;у США&nbsp;
              | з повним спектром послуг
          p Не транзитний склад у США з повним спектром послуг, такими як FBM, FBA і обробка повернень.
          p Розташування складу дозволяє нам відправляти ваш товар за доступною ціною. Все це дозволить вам залишатися конкурентоспроможними на ринку і швидше розвивати свій бізнес.

    .some-facts
      .some-facts__inner.site-container.site-container--section
        .some-facts__content
          .some-facts__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-all-some-facts.svg
            .site-title__designation Трохи фактiв
            .site-title__large Отримуйте&nbsp;
              span більше<br>&nbsp;переваг
          a(href="#").site-btn
            span Зареєcтруватися

          ol.numbered-tiles__list.custom-row.custom-row--12px.grid-padding--right
            li.numbered-tiles__item.custom-col
              .numbered-tiles__item-content.site-case
                .numbered-tiles__item-name.site-case__name Готове замовлення менше нiж за годину
                p Обробка та відправлення замовлення FBM в той же день (*при створенні в системі до 12:00).
            li.numbered-tiles__item.custom-col
              .numbered-tiles__item-content.site-case
                .numbered-tiles__item-name.site-case__name Google Authenticator
                p Забезпечення безпеки за допомогою Google Authenticator.
            li.numbered-tiles__item.custom-col
              .numbered-tiles__item-content.site-case
                .numbered-tiles__item-name.site-case__name Виведення коштів  з балансу за 5 хвилин
                p Виведення до $500 з балансу протягом 5 хвилин без комісій
            li.numbered-tiles__item.custom-col
              .numbered-tiles__item-content.site-case
                .numbered-tiles__item-name.site-case__name Митний платiж
                p У вартість відправлень замовлень в Європу включений митний платіж. Клієнти відмовлятимуться від посилок через доплати.
            li.numbered-tiles__item.custom-col
              .numbered-tiles__item-content.site-case
                .numbered-tiles__item-name.site-case__name Google Analytics прямо в особистому кабiнетi
                p Можливість підключення Google Analytics, що дозволяє зручно переглядати основні показники, не покидаючи системи.
            li.numbered-tiles__item.custom-col
              .numbered-tiles__item-content.site-case
                .numbered-tiles__item-name.site-case__name Easy-кабiнет: Вiдправлення  у 2 клiки
                p Полегшене створення відправлень, оплата доставки відбувається відразу, а у вартість вже включені всі витрати.


    .education
      .education__inner.site-container.site-container--section.double-block
        .education__content.grid-padding
          .education__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-teaching.svg
            .site-title__designation Навчання
            .site-title__large Навчальні курси про продаж товарів на<br>&nbsp;
              span Etsy, Ebay, Amazon та бізнес консультації.
          a(href="#").site-btn
            span Переглянути лекцii

        .education__media.right-block.right-media
          .education__media-img
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/education-img-mobile.svg" media="(max-width: 680px)" )
              img(src="./img/education-img.svg" alt="education" width="690").lazyload














