extends _layout

block vars
  - var pageTitle = "prohibited";
  - var pageClass = "prohibited";
  - var pageActive = "prohibited";


block content
  div.main-wrap

    .prohibited.consol-page
      .prohibited__inner.site-container.site-container--section
        .prohibited__content.grid-padding
          .prohibited__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large Клієнт компанії SkladUSA (далі Відправник) делегує компанії SkladUSA (далі Компанія)
              span &nbsp;право на поштове оформлення і передачу своєї посилки перевізнику
            .prohibited__rules-ico
              include ../img/responsibility-icon-on-bg-1.svg
          .prohibited__rules
            .prohibited__tab-list
              .prohibited__tab
                a.prohibited__tab-btn(href='#dont-take-payment')
                  span Не беремо оплати
              .prohibited__tab
                a.prohibited__tab-btn(href='#dont-transport')
                  span Не перевозимо
            ul.prohibited__rules-list

              li#dont-take-payment.prohibited__tabs-items
                p.prohibited__rules-item — Будь-які продукти харчування для людей і тварин, алкогольні та безалкогольні напої, включаючи харчові добавки, BUDи, приправи, ароматизатори, покращувачі смаку тощо. А також обладнання для виробництва алкоголю.
                p.prohibited__rules-item — Будь-які лікарські, медичні, оздоровчі препарати для людей і тварин, включаючи гомеопатію, фітотерапію, акупунктуру, ароматичні речовини тощо.
                p.prohibited__rules-item — Будь-які наркотичні та психотропні засоби.
                p.prohibited__rules-item — Тютюн, тютюнові вироби, суміші, порошки рідини для куріння або інших способів вживання та предмети (обладнання) для вживання таких речовин.
                p.prohibited__rules-item — Будь-які косметичні засоби, включаючи креми, мазі, лосьйони, мило, настоянки, екстракти тощо.
                p.prohibited__rules-item — Будь-яка зброя, деталі зброї, набої та засоби самозахисту.
                p.prohibited__rules-item — Пожертви, благодійність, донати, реферальні виплати тощо.
                p.prohibited__rules-item — Лістинги, що містять зареєстровані торгові марки без дозволу правовласника.
                p.prohibited__rules-item — Товари, що продаються по системі drop-shipping.
                p.prohibited__rules-item — Новий і вживаний одяг та взуття, парфуми та аксесуари відомих брендів без сертифікату автентичності (Certificate Of Authenticity) для вживаних речей та дилерської ліцензії для нових.
                p.prohibited__rules-item — Живі тварини та комахи. Частини тіл людей, тварин, комах: хутро, шкіра, волосся, кістки, роги, зуби, будь-які органи, кров, ембріони, останки тощо. Окрім одягу, взуття, сумок та галантереї зі шкіри та хутра фермерських тварин.
                p.prohibited__rules-item — Насіння і рослини в будь-якому вигляді. За винятком виробів з деревини та рослин залитих у полімер.
                p.prohibited__rules-item — Будь-які порнографічні матеріали або доступ до них.
                p.prohibited__rules-item — Вибухонебезпечні матеріали, пальне, кислоти, хімічні реактиви тощо.
                p.prohibited__rules-item — Будь-яка контрафактна, фальцифікована продукція, а також товари, в яких використовуються назви зареєстрованих торгових марок без дозволу правовласника.
                p.prohibited__rules-item — Дорогоцінні та кольорові метали у вигляді брухту, руди, злитків, порошків та рідин.
                p.prohibited__rules-item — Діючі грошові знаки, монети, банківські білети, облігації, купюри і т.п. які не вийшли з обігу.
                p.prohibited__rules-item — Будь-які квитки, включаючи тури та подорожі.
                p.prohibited__rules-item — Доступ до будь-яких електронних акаунтів, включаючи комп’ютерні та консольні ігри.
                p.prohibited__rules-item — Клубниі сервіси, кеш-бек сервіси, контракти провайдерів, знижки, подарункові сертифікати, членські квитки, партнерські програми та доступ до подібних сервісів тощо.
                p.prohibited__rules-item — Номери будь-яких карток та самі картки, включаючи банківські та Sim-картки.
                p.prohibited__rules-item — Товари, що походять з країн, на які накладено ембарго та тимчасово окупованих територій України. Товари, які виготовлені компаніями, на які накладені санкції України, США або ЄС. Будь-які товари, що містять символіку, атрибутику, пропагандистські матеріали нацистських, терористичних організацій, їх політичних утворень, лідерів та членів.

              li#dont-transport.prohibited__tabs-items
                p.prohibited__rules-item — Будь-які продукти харчування для людей і тварин, алкогольні та безалкогольні напої, включаючи харчові добавки, BUDи, приправи, ароматизатори, покращувачі смаку тощо. А також обладнання для виробництва алкоголю.
                p.prohibited__rules-item — Будь-які лікарські, медичні, оздоровчі препарати для людей і тварин, включаючи гомеопатію, фітотерапію, акупунктуру, ароматичні речовини тощо.
                p.prohibited__rules-item — Будь-які наркотичні та психотропні засоби.
                p.prohibited__rules-item — Тютюн, тютюнові вироби, суміші, порошки рідини для куріння або інших способів вживання та предмети (обладнання) для вживання таких речовин.
                p.prohibited__rules-item — Будь-які косметичні засоби, включаючи креми, мазі, лосьйони, мило, настоянки, екстракти тощо.
                p.prohibited__rules-item — Будь-яка зброя, деталі зброї, набої та засоби самозахисту.
                p.prohibited__rules-item — Пожертви, благодійність, донати, реферальні виплати тощо.
                p.prohibited__rules-item — Лістинги, що містять зареєстровані торгові марки без дозволу правовласника.
                p.prohibited__rules-item — Товари, що продаються по системі drop-shipping.
                p.prohibited__rules-item — Новий і вживаний одяг та взуття, парфуми та аксесуари відомих брендів без сертифікату автентичності (Certificate Of Authenticity) для вживаних речей та дилерської ліцензії для нових.
                p.prohibited__rules-item — Живі тварини та комахи. Частини тіл людей, тварин, комах: хутро, шкіра, волосся, кістки, роги, зуби, будь-які органи, кров, ембріони, останки тощо. Окрім одягу, взуття, сумок та галантереї зі шкіри та хутра фермерських тварин.
                p.prohibited__rules-item — Насіння і рослини в будь-якому вигляді. За винятком виробів з деревини та рослин залитих у полімер.
                p.prohibited__rules-item — Будь-які порнографічні матеріали або доступ до них.
                p.prohibited__rules-item — Вибухонебезпечні матеріали, пальне, кислоти, хімічні реактиви тощо.
                p.prohibited__rules-item — Будь-яка контрафактна, фальцифікована продукція, а також товари, в яких використовуються назви зареєстрованих торгових марок без дозволу правовласника.
                p.prohibited__rules-item — Дорогоцінні та кольорові метали у вигляді брухту, руди, злитків, порошків та рідин.
                p.prohibited__rules-item — Діючі грошові знаки, монети, банківські білети, облігації, купюри і т.п. які не вийшли з обігу.
                p.prohibited__rules-item — Будь-які квитки, включаючи тури та подорожі.
                p.prohibited__rules-item — Доступ до будь-яких електронних акаунтів, включаючи комп’ютерні та консольні ігри.
                p.prohibited__rules-item — Клубниі сервіси, кеш-бек сервіси, контракти провайдерів, знижки, подарункові сертифікати, членські квитки, партнерські програми та доступ до подібних сервісів тощо.
                p.prohibited__rules-item — Номери будь-яких карток та самі картки, включаючи банківські та Sim-картки.
                p.prohibited__rules-item — Товари, що походять з країн, на які накладено ембарго та тимчасово окупованих територій України. Товари, які виготовлені компаніями, на які накладені санкції України, США або ЄС. Будь-які товари, що містять символіку, атрибутику, пропагандистські матеріали нацистських, терористичних організацій, їх політичних утворень, лідерів та членів.

            p.prohibited__rules-bottom-item.prohibited__rules-item У разі продажу клієнтом товарів зі списку, адміністрація SkladUSA залишає за собою право <b>повернути оплату платнику та припинити співпрацю з клієнтом</b>
            .prohibited__rules-icon-cart
              include ../img/prohibited-cart-ico.svg

      .prohibited__support
        .prohibited__support-inner.site-container.site-container--section.double-block
          .prohibited__support-content.grid-padding
            .prohibited__support-title.site-title
              .site-title__ico.shadow
                include ../img/prohibited-support-ico.svg
              .site-title__designation Постiйна пiдтримка
              .site-title__large.prohibited__title-large Виникли питання щодо <span>можливості продажу</span> свого товару?
              p.prohibited__support-description Якщо у Вас виникли питання щодо можливості продажу свого товару через сервіс SkladUSA, будь ласка, зверніться у відділ підтримки клієнтів. Ми допоможемо вирiшити будь-яке питання
          .prohibited__support-media.right-block.right-media
            .prohibited__support-media-img
              picture
                source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="./img/prohibited-support-illustration.svg" media="(max-width: 680px)" )
                img(src="./img/prohibited-support-illustration.svg" alt="support" width="602").lazyload