extends _layout

block vars
  - var pageTitle = "responsibility";
  - var pageClass = "responsibility";
  - var pageActive = "responsibility";


block content
  div.main-wrap

    .responsibility.consol-page
      .responsibility__inner.site-container.site-container--section
        .responsibility__content.grid-padding
          .responsibility__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large Клієнт компанії SkladUSA (далі Відправник) делегує компанії SkladUSA (далі Компанія)
              span &nbsp;право на поштове оформлення і передачу своєї посилки перевізнику
          .responsibility__rules
            .responsibility__rules-list
              p.responsibility__rules-item <b>Компанія зобов’язується</b> передати оформлену посилку Відправника перевізнику в обумовлені терміни. Компанія несе відповідальність за збереження посилок від моменту отримання посилки до передачі посилки перевізнику.
              p.responsibility__rules-item <b>Отримання Компанією посилки</b> Відправника підтверджується оформленням супровідних документів і присвоєнням посилці номера відстеження.
              p.responsibility__rules-item <b>Компанія несе відповідальність</b> за збереження посилок, які знаходяться в її відділеннях і складах і не несе відповідальності за посилки, передані Відправником перевізнику самостійно, проте, сприяє Відправникові у вирішенні спірних ситуацій з перевізником.
              p.responsibility__rules-item <b>Відповідальність Компанії</b> за збереження товару Відправника на складі в Міннесоті настає з моменту оприбуткування товару.
              p.responsibility__rules-item <b>Оприбуткування відбувається</b> після перерахунку отриманого товару.
              p.responsibility__rules-item <b>Кількість товару, що оприбутковується</b> на склад, є результатом фактичного перерахунку і може відрізнятися від кількості зазначеного Відправником при відправці.
              p.responsibility__rules-item <b>У разі підтвердження втрати (нестачі)</b> товару на складах, Компанія зобов’язується виплатити Відправникові компенсацію.
              p.responsibility__rules-item <b>Розмір компенсації</b> розраховується відповідно до стандартної практики роботи препцентрів в США (в т.ч. Amazon) і ґрунтується на собівартості товару, а не ціні продажу.
            .responsibility__rules-ico
              include ../img/responsibility-icon-on-bg-1.svg
      .responsibility__inner.site-container.site-container--section
        .responsibility__content.grid-padding
          .responsibility__conditions-head-title
            .responsibility__conditions--icon.site-title__ico.shadow
              include ../img/responsibility-icon-for-faq.svg
            h2 Способи доставки
          .responsibility__conditions
            .responsibility__conditions-ico
              include ../img/responsibility-boxes-on-bg.svg
            .responsibility__conditions-title Умови і особливості роботи з консолідаторами і перевізниками
            .responsibility__conditions-list.faqs__list-block
              .faqs__list.accordion.js_accordion
                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head USPS
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head FedEx (USA)
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head APC Logistics (Delcon)
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Landmark
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.
                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Консолідація
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Експрес відправлення
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Корекція адреси
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Рекомендацiї спосовно пакування
                    .accordion__content
                      p Міжнародний експрес перевізник. SkladUSA в США використовує Fedex для доставки відправлень одержувачам в США. Вибираючи доставку Fedex, звертайте увагу на правильність заповнюваних даних (адреса, email, обов'язково номер телефону одержувача), що дозволить уникнути повернення.
                      p Вартість повернення посилки на SkladUSA в Міннесоті виставляється Відправникові додатково до вартості первинного відправлення. Вартість переадресації відправлення з ініціативи Відправника або одержувача становить $18 і виставляється клієнту додатково до вартості первинного відправлення.
                      p Міжнародні відправлення Fedex з США застраховані з максимальною сумою страхової виплати - $100. Для отримання виплати необхідно підтвердити вартість відправлення (інвойс або скрін угоди на маркетплейсі). Кейс на компенсацію може бути поданий не раніше 7 днів з дати відправлення і не пізніше 90 днів.
