extends _layout

block vars
  - var pageTitle = "responsibility";
  - var pageClass = "responsibility";
  - var pageActive = "responsibility";


block content
  div.main-wrap

    .capital.consol-page
      .capital__inner.site-container.site-container--section
        .capital__content.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              