extends _layout

block vars
  - var pageClass = "return-processing rhombus";
  - var pageActive = "return-processing";
  - var pageSection = "services";
  - var pageName = "Обробка повернень";


block content
  div.main-wrap
    include ./modules/_breadcrumbs

    .capital.capital--return
      .capital__inner.site-container.site-container--section
        .capital__content.capital__content--top-block.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large
              | Формальностей багато,&nbsp;
              span але то не <br> вашi проблеми :)
          p Продажі товару за кордон пов’язані з безліччю формальностей і ситуацій, що вимагають індивідуального підходу до вирішення. Зокрема, одне з важливих питань стосується повернення продукції. Icнує чимало нюансiв щодо ввозу товарiв у країни.
          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-btn
                span Зареєcтруватися
            .capital__manage-item.custom-col.fit-content
              a(href="#").site-link.site-link--desktop
                span Детальнiше про нас
              a(href="#").site-link.site-link--mobile
                span Про нас
        .capital__media.rhombus
          .capital__media-img
            picture
              source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="./img/returns-rhombus-mob.svg" media="(max-width: 680px)" )
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/returns-rhombus.svg" alt="img" width="636" height="636").lazyload




    .numbered-tiles.can-go-wrong
      .numbered-tiles__inner.site-container


        .numbered-tiles__floating-img.floating-img(style='margin-right: -130px')
          include ../img/boxes.svg

        .numbered-tiles__content.grid-padding
          .numbered-tiles__title.site-title
            .site-title__ico.shadow
              include ../img/why-happines.svg
            .site-title__designation Що може пiти не так
            .site-title__large Ми захистимо вас вiд помилок та допоможемо <br>
              span подолати тi, якi виникнуть
            p Навіть якщо ваш товар хорошої якості, відправлення виконане з дотриманням всіх критеріїв угоди і без затримок. І важливо розуміти, що з поверненням може виникнути чимало проблем, наприклад:

          ul.numbered-tiles__list.custom-row.custom-row--12px.numbered-tiles__list--nonumbers
            li.numbered-tiles__item.custom-col
              .site-case
                .site-case__name Недостатня iнформацiя
                p Якщо ви реалізуєте продукцію на спеціалізованих американських майданчиках, наприклад, ведете продажу через Amazon, eBay і т.д., необхідно надати адресу складу в США, куди буде відправлятися повернення;
            li.numbered-tiles__item.custom-col
              .site-case
                .site-case__name Невiрне зберiгання продукції
                p Вам необхідно подбати про правильне зберігання або утилізацію продукції, залежно від того, чи придатна вона для подальшої реалізації;
            li.numbered-tiles__item.custom-col
              .site-case
                .site-case__name Зворотнє вiдправлення це розкiш
                p Організаційні моменти у таких вiдправленнях доволi складно вирішити, а вартість доставки виявляється високою. Це часто призводить до фінансових втрат замість очікуваного заробітку.


    .l-media-r-info.why-necessary
      .l-media-r-info__inner.site-container.site-container--section.double-block
        .l-media-r-info__media.left-block.left-media.d-flex.align-items-end
          div
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/return-processing-helping.svg" alt="warehouses" width="444").lazyload

        .l-media-r-info__content.grid-padding.right-block
          .l-media-r-info__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-box.svg
            .site-title__designation Унiкальний сервiс
            .site-title__large Допомога в оформленнi повенень та&nbsp;
              span швидкiй реалiзацiї продукції

          p На території США небагато фулфілмент центрів, які займаються прийомом і обробкою товару, який повернули покупці. Ще менше організацій, що здійснюють відправлення продукції закордонному продавцю, а якщо така послуга і є, обійдеться вона недешево.
          p Що стосується SkladUSA, його можна назвати єдиним партнером, який пропонує широкий спектр послуг і робить це на вигідних умовах.


    .responsibilities-block
      .site-container.site-container--section.double-block
        .grid-padding.left-block
          .site-title
            .site-title__ico.shadow
              include ../img/site-title-automation.svg
            .site-title__designation Нашi обов’язки
            .site-title__large Ваша торгівля в США буде максимально оптимізованою та <br>
              span принесе очікуваний дохід
          a(href="https://system.skladusa.com/registration").site-btn
            span Зареєcтруватися

        .right-block.grid-padding
          .block-checked
            .block-checked__inner
              .block-checked__title
                .site-title__large Ми допоможемо з усiм i&nbsp;
                  span навiть бiльше
              .block-checked__items
                .block-checked__item
                  div Отримання та обробка повернень з будь-яких американських майданчиків – Etsy, Amazon, eBay;
                .block-checked__item
                  div Огляд товару, складання фотозвіту;
                .block-checked__item
                  div Додавання продукції в інвентар, обробка повторного її замовлення;
                .block-checked__item
                  div Комплектація повернення;
                .block-checked__item
                  div Заміна упаковки (за необхідності), переклеювання FNSKU;
                .block-checked__item
                  div Відправлення товару на склад Amazon, якщо ви працюєте з цим майданчиком, або зберiгання товару на нашому складi до поадльшого продажу.
                .block-checked__item
                  div Індивідуальна перевірка товару - за домовленістю (електроніка, перевірка по списку пакувальної карти)
                .block-checked__item
                  div Створення оплаченої лейби повернення для покупця (ціна пересилки);


    .cascade.cascade--return
      .cascade__inner.site-container.site-container--section.double-block
        .cascade__content.grid-padding.left-block
          .cascade__title.site-title.mw-360
            .site-title__ico.shadow
              include ../img/site-title-crown.svg
            .site-title__designation Переваги
            .site-title__large Оформлюйте повернення товару&nbsp;
              span через FBM

            p Нашим клієнтам доступна послуга експрес доставки замовлення безпосередньо до покупця. Така послуга забезпечить максимальну швидкість доставки за оптимальною ціною!​

        .cascade__content.right-block.grid-padding
          .cascade__list
            .cascade__item
              .cascade__item-content.site-case
                .site-case__name Спеціалізовані центри
                p Ми маємо великий досвід роботи з поверненнями закордонного товару, тому виконують його швидко і професійно;
            .cascade__item
              .cascade__item-content.site-case
                .site-case__name Перепродаж без  зворотного пересилання
                p Перепродовуйте продукцію, яку повернула одна з торгових платформ, без оформлення “звороту”.
            .cascade__item
              .cascade__item-content.site-case
                .site-case__name Немає утилiзацiї
                p Немає потреби організації процесу утилізації, бо вона входить у послуги повернення товару FBA або FBM;
            .cascade__item
              .cascade__item-content.site-case
                .site-case__name Швидке повернення
                p За необхіднiстю, зворотнє пересилання буде виконане у стислі терміни і за прийнятною ціною.


    .why-importantly
      .site-container.site-container--section.double-block
        .left-block.left-media.d-flex.align-items-end
          div
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/why-important.svg" alt="warehouses" width="444").lazyload

        .grid-padding.right-block
          .site-title
            .site-title__ico.shadow
              include ../img/return.svg
            .site-title__designation Чому це важливо
            .site-title__large
              span Професійно організоване повернення товару&nbsp;
              | на Etsy, Aamazon, ebay гарантовано

          p Працюючи зi SKLADUSA у вас є можливість відразу після повернення знову додати його в свої запаси FBA inventory і продати найближчим часом.
          p Звичайно, частина позицій, що мають позначку «customer damaged», реалізувати не вийде. Але на практиці 95% повернутих товарів повторно продається і досить швидко. Що ст осується оплати, то фінансові питання також вирішуються швидко і без проблем –  повернення грошей за товар на eBay, Amazon або Etsy.






    .plans.plans--return
      .plans__inner.site-container.site-container--section
        .plans__head.grid-padding
          .plans__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-plans.svg
            .site-title__designation Плани
            .site-title__large Цiни на обробку повернень&nbsp;
              span FBA та FBM
            p Обробка повернень до 7 днів. Експрес прийняття повернення протягом 2 днів за подвійним тарифом

        .plans__content.grid-padding
          .plans__list.custom-row.custom-row--8px
            .plans__item.custom-col.custom-col--25
              .plans__item-content.price-case
                .price-case__head
                  span $1.50
                .price-case__content
                  .price-case__title Об’єм до 60 см, <br> Вага до 1кг
            .plans__item.custom-col.custom-col--25
              .plans__item-content.price-case
                .price-case__head
                  span $2.00
                .price-case__content
                  .price-case__title Об’єм 61—100 см, <br> Вага до 2кг
            .plans__item.custom-col.custom-col--25
              .plans__item-content.price-case
                .price-case__head
                  span $3.00
                .price-case__content
                  .price-case__title Об’єм 101—150 см, <br> Вага до 2кг
            .plans__item.custom-col.custom-col--25
              .plans__item-content.price-case
                .price-case__head
                  span $5.00
                .price-case__content
                  .price-case__title Об’єм вiд 150 см, <br> Вага до 10кг

        .plans__bottom.right
          span Для уточнення ціни для більших розмірів — зверніться до складу.


    .numbered-tiles--return
      include ./modules/_all-services


