extends _layout

block vars
  - var pageTitle = "Testimonials";
  - var pageClass = "testimonials";
  - var pageActive = "testimonials";

block content
  div.main-wrap
    .capital.testimonials-block
      .capital__inner.site-container.site-container--section
        .capital__content.capital__content--top-block.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large Ми вважаємо, що наш <br>бiзнес&nbsp;
              span про людей та їх потреби
          .mw-415
            p Ми невпинно рухаємося вперед, щоб робити доставку  товарiв з України у будь-яку точку свiту дешево та швидко. Нас мотивують люди, якi цiнують це та пiдтримують нас у всьому. Ми робимо це разом
          .capital__manage.custom-row.custom-row--12px
            .capital__manage-item.custom-col.fit-content
              a(href="#").site-btn
                span Залишити відгук
            .capital__manage-item.custom-col.fit-content
              a(href="https://system.skladusa.com/registration").site-link
                span Зареєcтруватися
        .capital__media
          .capital__media-img
            img(src="./img/testimonial-on-hore.svg" alt="education" width="431" height="431").lazyload

      .reviews-all
        .reviews-all__inner.site-container.site-container--section
          .reviews-all__content.grid-padding
            .reviews-all__title.site-title.mw-100
              .site-title__ico.shadow
                include ../img/site-title-reviews-all.svg
              .site-title__designation Вiдгуки
              .site-title__large Ми цiнуємо наших клiєнтiв, <br>а вони&nbsp;
                span вдячнi за нашу працю

          .reviews-all__list-wrapper.grid-padding
            .reviews-all__floating-img.floating-img
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="./img/floating-img01.svg" alt="floating").floating-img__i.lazyload
            .reviews-all__truck-img
              include ../img/truck-cart-img.svg
            .reviews-all__list
              .reviews-all__item
                .reviews-all__item-content.site-case
                  .reviews-all__item-txt
                    p Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.
                  .reviews-all__item-author.site-case__name Олiвiя

              .reviews-all__item
                .reviews-all__item-content.site-case
                  .reviews-all__item-txt
                    p Великий вибір методів доставки дозволяє обрати оптимальний варіант за співвідношенням ціна/швидкість.
                  .reviews-all__item-author.site-case__name Олiвiя

              .reviews-all__item
                .reviews-all__item-content.site-case
                  .reviews-all__item-txt
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus ac lectus faucibus feugiat. Cras in venenatis leo. Fusce quis egestas tortor. Integer nec accumsan justo, nec semper dolor. Donec non eleifend dui. Aenean sed fermentum nulla. Maecenas eleifend mauris eu dui placerat tristique. Fusce sed pharetra lacus, nec sagittis sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed accumsan, massa aliquet imperdiet condimentum, enim tellus ullamcorper arcu, eu venenatis ex tellus eu nulla. <br><br>
                      | Morbi luctus dolor sapien, a pretium est vulputate eget. Aliquam tempor vulputate consequat. Donec ipsum est, tempor eu odio vel, egestas hendrerit tortor. Ut pulvinar molestie mi sit amet dapibus. Donec posuere turpis sapien, eget vulputate mi imperdiet nec. Morbi lacus risus, venenatis quis mollis et, interdum tempus eros. In in tincidunt massa, sit amet sollicitudin quam.
                  .reviews-all__item-author.site-case__name Олiвiя

              .reviews-all__item
                .reviews-all__item-content.site-case
                  .reviews-all__item-txt
                    p Завдяки повноцінному складу, ви маєте можливість відправляти за допомогою консолідації свої замовлення в «непідготовленому для відправки вигляді»,що дозволить зменшити вартість доставки.
                  .reviews-all__item-author.site-case__name Олiвiя

              .reviews-all__item
                .reviews-all__item-content.site-case
                  .reviews-all__item-txt
                    p Великий вибір методів доставки дозволяє обрати оптимальний варіант за співвідношенням ціна/швидкість.
                  .reviews-all__item-author Олiвiя

              .reviews-all__item
                .reviews-all__item-content.site-case
                  .reviews-all__item-txt
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et metus ac lectus faucibus feugiat. Cras in venenatis leo. Fusce quis egestas tortor. Integer nec accumsan justo, nec semper dolor. Donec non eleifend dui. Aenean sed fermentum nulla. Maecenas eleifend mauris eu dui placerat tristique. Fusce sed pharetra lacus, nec sagittis sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed accumsan, massa aliquet imperdiet condimentum, enim tellus ullamcorper arcu, eu venenatis ex tellus eu nulla. <br><br>
                      | Morbi luctus dolor sapien, a pretium est vulputate eget. Aliquam tempor vulputate consequat. Donec ipsum est, tempor eu odio vel, egestas hendrerit tortor. Ut pulvinar molestie mi sit amet dapibus. Donec posuere turpis sapien, eget vulputate mi imperdiet nec. Morbi lacus risus, venenatis quis mollis et, interdum tempus eros. In in tincidunt massa, sit amet sollicitudin quam.
                  .reviews-all__item-author.site-case__name Олiвiя

            .reviews-all__pagination.site-pagination
              .site-pagination__inner.site-container
                ul.site-pagination__items
                  li.first.disabled
                    span Попередня
                  li.disabled
                    span 1
                  li
                    a(href="#").site-pagination__item 2
                  li
                    a(href="#").site-pagination__item 3
                  li
                    a(href="#").site-pagination__item 4
                  li
                    a(href="#").site-pagination__item.dots ...
                  li
                    a(href="#").site-pagination__item 23
                  li.last
                    a(href="#").site-pagination__item Наступна


      .give-feedback
        .give-feedback__inner.site-container.site-container--section
          .give-feedback__content.grid-padding
            .give-feedback__title.site-title.mw-100
              .site-title__ico.shadow
                include ../img/site-title-give-feedback.svg
              .site-title__designation Ваш вiдгук
              .site-title__large Якщо ви маєте досвід роботи зі <br>SkladUSA,&nbsp;
                span будь-ласка, поділіться ним!

          .give-feedback__form-wrapper.grid-padding
            .give-feedback__form.site-form
              form#contactFormId(action="/forms-handler/" method="post" enctype="multipart/form-data")
                .form-group.site-form__col(class="field-contactform-contactperson required")
                  label.site-form__item
                    input(type="text" id="contactform-contactperson" class="form-control" name="ContactForm[contactPerson]" aria-required="true" aria-invalid="false" value="Tatiana")
                    .help-block
                    .site-form__label Name
                .form-group.site-form__col(class="field-contactform-email required")
                  label.site-form__item
                    input(type="text" id="field-contactform-email" class="form-control" name="ContactForm[contactPerson]" aria-required="true" aria-invalid="false")
                    .help-block
                    .site-form__label E-mail
                .form-group(class="field-contactform-message required")
                  label.site-form__item
                    textarea(id="contactform-message" class="form-control" name="ContactForm[message]"  aria-required="true" aria-invalid="true")
                    .help-block
                    .site-form__label Message
                .bottom.loaded-file
                  button(type="submit" id="ask-question-btn-id" class="btn-arrow btn" onclick="return false") Відправити


    include ./modules/_all-services

