extends _layout

block vars
  - var pageTitle = "agreement";
  - var pageClass = "agreement";
  - var pageActive = "agreement";


block content
  div.main-wrap

    .agreement.consol-page
      .agreement__inner.site-container.site-container--section
        .agreement__content.grid-padding
          .agreement__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large
              span Угода Користувача
          .agreement__rules
            .agreement__rules-list
              p.agreement__rules-item Ця угода є <b>агентською угодою</b>, укладеною між Вами як Принципалом, і Ukrainian treasures Inc, як торговим агентом. Ukrainian treasures Inc також згадується в тексті угоди як Компанія.
              p.agreement__rules-item Згідно з цією угодою Компанія надає вам <b>послуги щодо продажу товарів</b> їх споживачам через електронні торгові площадки (Amazon, eBay, Etsy та інші) та/або щодо <b>сприяння такому продажу</b>, а також супутні послуги з доставки відповідних товарів, їх зберігання, складської обробки тощо. Послуги надаються на території України і на території США. <b>Ви, в свою чергу, зобов’язуєтесь оплачувати послуги Компанії згідно встановлених тарифів.</b>
              p.agreement__rules-item <b>Взаємовідносини між Вами і Компанією регулюються</b> цією угодою, а також Політикою захисту персональних даних, Політикою відповідності щодо протидії відмиванню коштів, а також Політикою щодо заборонених товарів та товарів з обмеженим доступом, незалежно від того, чи згадуються відповідні умови в тексті цієї угоди прямо або шляхом посилання.
            .agreement__rules-ico
              include ../img/responsibility-icon-on-bg-1.svg
      .agreement__inner.site-container.site-container--section
        .agreement__content.grid-padding
          .agreement__contracts-head-title
            .agreement__contracts--icon.site-title__ico.shadow
              include ../img/responsibility-icon-for-faq.svg
            h2 Договори
          .agreement__contracts
            .agreement__contracts-ico
              include ../img/responsibility-boxes-on-bg.svg
            .agreement__contracts-title
              p Положення по роботi&nbsp;<span>SkladUSA</span>
            .agreement__contracts-list.faqs__list-block
              .faqs__list.accordion.js_accordion
                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Умови використання та прийняття Умов
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Положення, які застосовуються до всіх власників облікових записів
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Брокерський (агентський) характер послуг
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Iдентифікація та перевірка користувача
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Дозвіл на використання Послуг
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Ваша інформація та обмежені дії
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Конфіденційність і безпека
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Винагорода
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Податки з продажу
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Отримання коштів, утримуваних на Вашу користь
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Припинення надання Послуг
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Права Компанії
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Умови та обмеження щодо Послуг
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>

                .faqs__item
                  .faqs__item-content.accordion__item
                    .accordion__head Інтелектуальна власність
                    .accordion__content
                      p Для того, щоб користуватись Послугами, необхідно <b>зареєструвати обліковий запис.</b> Наші Послуги доступні лише фізичним або юридичним особам, які можуть укладати юридично зобов’язуючі контракти відповідно до чинного законодавства.
                      p Незалежно від вказаного вище, наші Послуги <b>не є доступними для</b> неповнолітніх (до 18 років), осіб, яким заборонено отримувати наші послуги, або особам, дії яких становлять неприйнятний рівень ризику.
                      p <b>Ви погоджуєтеся</b> дотримуватись всіх застосовних законів України та США, міжнародних законів, статутів, розпоряджень, правил, контрактів та відповідних ліцензій щодо використання наших Послуг. Недотримання цього положення <b>є порушенням цієї Угоди Користувача</b>
