@import "_mixins";
@import "_colors";

.desktop{
  @media (max-width: 992px) {
    display: none !important;
  }
}

.table-1100{
  @include from-1100{
    display: none!important;
  }
}

.desktop-1100{
  @include for-1100{
    display: none!important;
  }
}

.desktop{
  @media (max-width: 1100px) {
    display: none !important;
  }
}

.tablet{
  @media (min-width: 1101px) {
    display: none !important;
  }
}

.mobile{
  @media (min-width: 550px) {
    display: none !important;
  }
}

.show-for-800{

  @include from-800{
    display: none!important;
  }
}

.hide-for-800{

  @include for-800{
    display: none!important;
  }
}

.w-100{
  width: 100% !important;
}

.mw-350{
  @include from-680 {
    max-width: 350px;
  }
}

.mw-377{
  @include from-680 {
    max-width: 377px;
  }
}

.mw-396{
  @include from-680 {
    max-width: 396px;
  }
}



.d-flex{
  display: flex;
}

.justify-content-end{
  justify-content: flex-end;
}

.align-items-end{
  align-items: flex-end;
}

.m-0{
  margin: 0!important;
}

body .mb-24px{
  margin-bottom: 24px;
}
body .mb-12px{
  margin-bottom: 12px;
}

.correct input,
.correct textarea{
  border-color: green !important;
}

.error-field input,
.error-field textarea{
  border-color: #EB5757 !important;
}

.error-message{
  display: none;
}

.error-field .error-message{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  color: #EB5757;
  position: absolute;
  right: 0;
  bottom: -20px;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: $white;
}

.page__content{
  min-height: calc(100vh - 392px);
  padding-top: 95px;

  @include for-1100{
    padding-top: 57px;
  }
}

.custom-row{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;

  .custom-col{
    padding-left: 15px;
    padding-right: 15px;
  }

  &--12px{
    margin-left: -12px;
    margin-right: -12px;

    .custom-col{
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &--8px{
    margin-left: -8px;
    margin-right: -8px;

    .custom-col{
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.custom-col{
  width: 100%;

  &--25{
    width: 25%;

    @include for-1100{
      width: 50%;
    }

    @include for-680{
      width: 100%;
    }
  }

  &--33{
    width: 33.333333%;


    @include for-1100{
      width: 100%;
    }
  }
}

.fit-content{
  width: fit-content;
}




.grid-padding{
  @include from-1400 {
    //padding-left: 85px;
    padding-left: 105px;

    &--right {
      padding-left: initial;
      padding-right: 85px;
    }
  }
}

.site-container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  //@include from-1600{
  //  max-width: 1360px;
  //}

  &--section{
    padding: 43px 15px;

    @include for-1100{
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.site-btn{
  display: flex;
  padding: 11px 16px;
  background: #CD9E64;
  border-radius: 5px;
  transition: .2s ease-in-out;
  width: fit-content;

  @include from-1400{
    padding-left: 26px;
    padding-right: 26px;
  }

  @include from-1100 {
    &:hover {
      background: $brown;
    }
  }

  span{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    @include for-350{
      font-size: 12px;
    }
  }
}

.site-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  @include for-350{
    font-size: 12px;
  }

  &--desktop {
    @include for-680{
      display: none!important;
    }
  }

  &--mobile{

    @include from-680{
      display: none!important;
    }
  }


}

.table-link{
  color: $brown;
  text-decoration: underline;
}

.site-title{
  position: relative;
  padding-top: 12px;
  max-width: 568px;
  width: 100%;

  @include for-1400{
    padding-top: 0;
  }

  @include for-680{
    max-width: 100%;
  }

  &__designation{
    margin-top: 21px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.465em;
    text-transform: uppercase;
    color: $accent;

    @include for-1400{
      margin-top: 0;
    }
  }

  &__designation + &__large{
    margin-top: 24px;

    @include for-1400{
      margin-top: 10px;
    }
  }



  h1{
    @include for-1100 {
      font-size: 32px;
      line-height: 34px;
    }
  }

  &__large{
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 40px;
    line-height: 43px;
    color: $grey;

    @include for-1100{
      font-size: 24px;
      line-height: 26px;
    }

    span{
      color: $accent;
    }

    @include for-992{
      br{
        display: none;
      }
    }

  }


  &__ico{
    position: absolute;
    top: 0;
    left: -105px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;

    @include for-1400{
      display: none;
    }

    &.shadow{

      &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 56px;
        height: 55px;
        border-radius: 14px;
        box-shadow: 0px 4px 30px #E2D8CB;
        background: $white;
      }

      svg, img{
        position: relative;
        z-index: 2;
      }
    }
  }
}

p{
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 24px;
}

.floating-img{
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-1200{
    display: none;
  }

  &--ico{
    width: 60px;
    height: 60px;

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 60px;
      height: 60px;
      box-shadow: 0px 4px 30px #E2D8CB;
      border-radius: 14px;
      background: $white;
    }

    > svg, img{
      position: relative;
      z-index: 1;
    }

  }
}

.site-case{
  display: flex;
  flex-direction: column;
  padding: 40px 25px 15px 32px;
  background: #F8F4EE;
  box-shadow: 0px 4px 30px #E2D8CB;
  border-radius: 14px;
  width: 100%;

  @include for-992{
    padding: 32px 24px;
  }

  @include for-680{
    box-shadow: 0px 4px 30px #E2D8CB;
  }

  p{
    margin: 0;
    color: $grey;
  }


  &__name{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $grey;
  }
}

.price-case{
  background: $white;
  box-shadow: 0px 4px 30px #E2D8CB;
  border-radius: 14px;
  padding: 32px 30px 32px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


  &__head{
    font-size: 16px;
    line-height:  19px;
    color: #000000;
    margin-bottom: 9px;

    span{
      font-weight: bold;
      font-size: 64px;
      line-height: 107.19%;
      color: $brown;
      margin-right: 8px;
    }
  }

  &__content{
    padding-left: 40px;
  }

  &__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $grey;


    &.underline{
      position: relative;
      padding-bottom: 8px;
      margin-bottom: 12px;
      display: flex;
      width: 100%;

      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(100% - 30px);
        height: 1px;
        background: $brown;
        opacity: .2;
      }
    }
  }

  &__text{

    p{
      margin: 0;
      margin-bottom: 8px;
    }
  }

}

.center-content{
  @include from-1100 {
    max-width: 575px;
    position: relative;
    left: calc(50% - (33% / 2) - 24px);
    width: 100%;

    &--w100{
      max-width: calc(100% - (50% - (33% / 2) - 24px));
    }
  }
}



.w-half{
  @include from-1100 {
    width: calc(100% - (50% - (33% / 2) - 24px));
  }
}

.left-block{
  //max-width: 470px;
  //width: 100%;

  @include from-680 {
    width: calc(50% - 60px);
  }

  @include for-680{
    max-width: 100%;
    width: 100%;
  }
}

.right-block{
  //max-width: calc(50% + 24px);
  width: calc(50% + 60px);
  //width: 100%;

  @include for-680{
    max-width: 100%;
    width: 100%;
  }
}

.left-media{
  width: 100%;
  //max-width: 50%;
  padding-top: 55px;

  @include from-680 {
    width: calc(50% - 60px);
  }

  @include for-680{
    max-width: 100%;
  }

  > div{
    position: relative;

    @include from-1400{
      transform: translateX(-40px);
    }
  }

  @include for-1400{
    //max-width: 40%;
    padding-right: 24px;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include for-680{
    max-width: 100%;
    padding-right: 0;
  }
}

.right-media{
  @include for-1400{

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @include for-680{

    > div{
      margin: 0 -15px;
      width: calc(100% + 30px);
    }
  }
}

.double-block{
  position: relative;
  display: flex;
  //justify-content: space-between;

  @include for-680{
    flex-direction: column;
  }
}

.site-table{
  position: relative;

  &:before{
    content: '';
    left: 50%;
    top: -32px;
    transform: translateX(-50%);
    width: calc(100% + 64px);
    height: calc(100% + 38px);
    background: $white;
    box-shadow: 0px 4px 30px #E2D8CB;
    border-radius: 14px;
    position: absolute;

    @include for-800{
      display: none;
    }
  }
  &__inner{
    position: relative;
    z-index: 1;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  th, td{
    //padding: 16px 0 16px 16px;
    padding: 18px 0 18px 16px;

    @include for-680{
      padding: 12px 0 12px 12px;
    }


    &:first-child{
      padding-left: 18px;

      @include for-680{
        padding-left: 17px;
      }

    }

    &:last-child{
      padding-right: 16px;
      padding-left: 0;

      @include for-680{
        padding-right: 17px;
      }
    }
  }

  th{
    background: $tableBrown;
    font-weight: 500;
    font-size: 18px;
    //line-height: 19px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: start;

    @include for-680{
      font-size: 14px;
      line-height: 16px;
    }
  }

  td{
    font-size: 16px;
    //line-height: 23px;
    line-height: 19px;
    color: #000000;
    vertical-align: top;

    @include for-680{
      font-size: 12px;
      line-height: 13px;
    }
  }

  tbody tr:nth-child(even){
    background: $tableBg;
  }
}
